@charset "utf-8";
img{width: 100%;}

/* //mark : color */
.clr--point{color: #ff0000;}

/* //mark : space */
.mb--s{margin-bottom: 10px;}
.mt--s{margin-top: 10px;}

/* //mark: text */
.tit-h2{padding-bottom: 16px; font-size: 28px;color:#238af1;font-weight:700;}
.txt-sub1{font-size: 18px; color: #6e6e6e;}
.txt-l{text-align: left !important;}
.txt-r{text-align: right !important;}
.txt-c{text-align: center !important;}

/* //mark: search */
.form-search{
    position: relative;
	padding-right: 115px;
}
.form-search__inp{
	position: relative;
	display: inline-block;
    width: 100%;
	height: 42px;
	margin-right: 12px;
    box-sizing: border-box;
    border: 1px solid #238af1;
    border-radius: 21px;
    background: #fff;
}
.form-search input{width: 100%; padding:0 62px; border:0;line-height: 42px; background: transparent;font-size: 17px;}
.form-search input::placeholder{font-size: 17px; color:#a1cbf5;}
.form-search .btn-search{
	position: absolute;
	top:50%;
	right: 0;
	width: 101px;
	height: 56px;
	background: url('../img/search01_bt.png') 0 0 no-repeat;
	font-size: 0;
	transform: translateY(-50%);
}

/* //mark: table */
.table-wrap {
    margin: 0 auto;
}
.table {
	clear: both;
	width: 100%;
	margin: 0 auto;
	font-size: 14px;
	border-right: 1px solid #707070;
	border-left: 1px solid #707070;
	border-bottom: 1px solid #707070;
}

.table thead th {
	position: relative;
	padding: 20px 0 19px;
	color: #fff;
	background: #2990d2;
	border-top: 1px solid #707070;
	border-bottom: 1px solid #707070;
	font-size: 18px;
	line-height: 21px;
}
.table thead th::after {
	content: '';
	position: absolute;
	top:50%;
	right: 0;
	width: 1px;
	height: 20px;
	background-color: #fff;
	transform: translateY(-50%);
}
.table thead th:last-child::after{display: none;}
.table tbody tr:last-child td {
	border-bottom: 0;
}

.table tbody td {
	padding: 20px 0 19px;
	text-align: center;
	border-bottom: 1px solid #e1e1e1;
	color: #666;
	background-color: #fff;
	vertical-align: middle;
	font-size: 18px;
	color: 333;
	line-height: 21px;
}
.table-wrap .table-info{float: right;padding-bottom: 21px; line-height: 21px;}
.table-wrap .table-info .total-num{display: inline-block; padding-right: 38px; font-size: 18px;color: #333;}
.table-wrap .table-info .form-grp{display: inline-block; }

/* //mark: layout */
[class^="container"]{ }
.container--main header,
.content .banner-wrap article,
.content .talk-wrap .main-board--step,
.content .board-wrap .index-wrap,
.table-wrap,
.mv-wrap,
footer{width: 1180px;}

header{
	margin: 0 auto;
	position: relative;
	padding: 37px 0 27px;
	box-sizing: border-box;
}
header h1{display: inline-block; padding-left: 36px;}
header h1 > a {display: inline-block;}
header h1 img{width: 130px;}
header .gnb{ display: inline-block; padding-left: 115px; position: relative; font-size: 18px; line-height: 27px; vertical-align: top;}
header .gnb li{display: inline-block;padding-right: 45px;}
header .gnb li:last-child{padding-right:0;}
header .gnb li a{display: inline-block;line-height: 64px;color: #333;}
header .gnb li a:hover{color:#417ec7;}
header .family-link{display: inline-block; padding-left: 97px; padding-top: 10px; vertical-align: top;}
header .family-link a{display: inline-block; vertical-align: middle;}
header .family-link a:first-child{padding-right: 20px;}

.content{}
.content .banner-wrap{
	padding: 137px 0 0 0;
	position: relative;
	background-image: linear-gradient(to bottom, #bedbed -2%, #b9d8eb 15%, #add0e5 32%, #99c3dd 49%, #7cb0d0 66%, #5798c0 84%, #418ab7 93%);
	box-sizing: border-box;
}
.content .banner-wrap > div{
	overflow: hidden;
	padding-bottom: 132px;
	height: 100%;
	background: url('../img/con01_img01.png') 50% 97% no-repeat;
}
.content .banner-wrap article{margin: 0 auto;}
.content .banner-wrap article .banner-sm{float: left;width: 600px;}
.content .banner-wrap article .banner-sm a{float: left; position: relative; padding: 0 20px 20px 0;}
.content .banner-wrap article .banner-sm a:nth-child(3),
.content .banner-wrap article .banner-sm a:nth-child(4){padding-bottom: 0;}
.content .banner-wrap article .banner-sm .num{position: absolute;right: 20px;bottom: 20px;}
.content .banner-wrap article .banner-big{ float: right; }

.content .talk-wrap{
	padding-top: 60px;
	background: #f1fdff;
}
.content .talk-wrap .main-board--step{ overflow: hidden; margin: 60px auto 0;}
.content .talk-wrap .main-board--step li{float: left; width: 25%; font-size: 2px; color: #333;text-align: center;}
.content .talk-wrap .main-board--step li .txt{font-size: 16px;color: #000;line-height: 28px;}
.content .talk-wrap .main-board--step li [class^="icn"]{
	display: block;
	padding-top: 132px;
	padding-bottom: 25px;
	background: url('../img/con01_link0.png') 50% 0 no-repeat;
	background-size: 102px;
	text-align: center;
	font-size: 22px;
	font-weight: 700;
	color: #333;
}
.content .talk-wrap .main-board--step li [class^="icn"][class$="-2"]{
	background: url('../img/con01_link02.png') 50% 0 no-repeat;
	background-size: 102px;
}
.content .talk-wrap .main-board--step li [class^="icn"][class$="-3"]{
	background: url('../img/con01_link03.png') 50% 0 no-repeat;
	background-size: 102px;
}
.content .talk-wrap .main-board--step li [class^="icn"][class$="-4"]{
	background: url('../img/con01_link04.png') 50% 0 no-repeat;
	background-size: 102px;
}
.content .main-search-wrap{ overflow: hidden; width: 100%; padding: 60px 0 39px; text-align: center; }
.content .main-search-wrap .form-search{width: 724px;margin: 0 auto;}

.content .serch-result{padding:37px 0 64px;}
.content .board-wrap{
	overflow: hidden;
	background: url('../img/con03_img01.png') 50% 50% no-repeat #c5def8;
}
.content .board-wrap .index-wrap{ overflow: hidden; margin: 0 auto; padding: 120px 0;}
.content .board-wrap .index-wrap .index-list{
	float: left;
	position: relative;
	width: 32.2%;
	margin-right: 20px;
	padding: 26px 20px 54px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	border: solid 1px #c9c9c9;
	background-color: #ffffff;
	box-sizing: border-box;
}
.content .board-wrap .index-wrap .index-list:last-child{margin-right: 0;}
.content .board-wrap .index-wrap .index-list .tit{
	position: relative;
	padding-left: 29px;
	font-size: 22px;	
	font-weight: 700;
	color: #333;
}
.content .board-wrap .index-wrap .index-list .tit::after{
	content: '';
	display: block;
	position: absolute;
	width: 12px;
	height: 12px;
	background-color: #30a4ee;
	top:50%;
	left: 0;
	border-radius: 50%;
	transform: translateY(-50%);
}
.content .board-wrap .index-wrap .index-list .more{
	position: absolute;
	top: 12px;
	right: 12px;
	display: block;
	width: 47px;
	height: 47px;
	background: url('../img/con03_add02.png') 0 0 no-repeat;
	font-size: 0;
}
.content .board-wrap .index-wrap .index-list ul{
	padding: 47px 0 0;
	font-size: 16px;
	color: #000;
}
.content .board-wrap .index-wrap .index-list li{
	position: relative;
	padding-right: 80px;
	line-height: 42px;
	border-bottom: 1px solid #777;
	box-sizing: border-box;
}
.content .board-wrap .index-wrap .index-list li:last-child{border-bottom:0;}
.content .board-wrap .index-wrap .index-list .subject{
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.content .board-wrap .index-wrap .index-list .date{
	position: absolute;
	top:0;
	right: 0;
}

.content .mv-wrap{margin: 0 auto; padding: 92px 0 91px;}
.content .mv-wrap .mv-list{overflow: hidden; padding-top: 42px;}
.content .mv-wrap .mv-list li{float: left;; width: 380px; padding-right: 20px;}
.content .mv-wrap .mv-list li a{display: block;}
.content .mv-wrap .mv-list li:last-child{padding-right: 0;}
.content .mv-wrap .mv-list .tit{display: block; padding-top: 10px; font-size: 14px; line-height: 18px; color: #333;}
.content .mv-wrap .mv-list .sub-tit{font-size: 12px;}

/* //mark: footer */
footer{ height: 65px; margin: 0 auto; padding: 25px 0 22px;}
footer address{float: left; font-size: 13px; color: #474645;font-style: normal; line-height: 19px;}
footer address .detail{display: block;}
footer address .fax{display: block;}
footer address .owner,
footer address .email,
footer address .code{padding-left: 5px;}
footer .ex-link{overflow: hidden;height: 65px; float: right;}
footer .ex-link li{float: left; padding-left: 44px; text-align: center;}
footer .ex-link li a{position: relative; display: inline-block;line-height: 65px;}
footer .ex-link li:first-child{padding-left: 0;}
footer .ex-link li:nth-child(2){ margin-top: 12px;}
footer .ex-link li:nth-child(3){ margin-top: 12px;}

/* //mark: 960이하 반응형 */
@media screen and (max-width:960px) {
	.container--main header,
	.content .banner-wrap article,
	.content .talk-wrap .main-board--step,
	.content .board-wrap .index-wrap,
	.table-wrap,
	.content .banner-wrap article .banner-sm,
	.content .main-search-wrap .form-search,
	footer{width: auto;}

	.content .board-wrap .index-wrap .index-list,
	.content .talk-wrap .main-board--step li{ width: 100%; }
	.content .mv-wrap .mv-list li{ clear: both; width: 100vw; padding: 0;}
	footer .ex-link{height: auto;}
}
