@charset "utf-8";

img {
	width: 100%;
}

/* //mark : color */
.clr--point {
	color: #ff0000 !important
}

.clr--primary {
	color: #228af1 !important
}

.clr--sub1 {
	color: #149171 !important
}

.clr--sub2 {
	color: #9560e6 !important
}

.clr--sub3 {
	color: #2990d2 !important
}

.clr--sub4 {
	color: #215594 !important
}

/* //mark: icon */
.icn-lock {
	display: inline-block;
	position: relative;
	padding-left: 30px;
	font-size: 0;
	vertical-align: middle;
}

.icn-lock::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 19px;
	height: 23px;
	background: url('../img/icn-lock.png') 0 0 no-repeat;
	transform: translateY(-50%);
}

.stat-pos,
.stat-neg{
	display: inline-block;
    position: relative;
    line-height: 25px;
	padding: 0 20px 0;
    font-size: 12px;
    box-sizing: border-box;
    color: #fff;
    background-color: #417ec7;
    border-radius: 28px;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 0;
}
.stat-neg{
	border: 1px solid #417ec7;
	background: #fff;
	color: #417ec7;
}
/* //mark : space */
.mb--s {
	margin-bottom: 10px;
}

.mb--m {
	margin-bottom: 48px;
}

.mb--l {
	margin-bottom: 245px;
}

.mt--s {
	margin-top: 10px;
}

.mt--m {
	margin-top: 18px;
}

.mt--l {
	margin-top: 53px;
}

.ml-s {
	margin-left: 20px;
}

.pt-0{padding-top: 0 !important}

.pb-l { padding-bottom: 28px; }
.pl-m { padding-left: 38px;}

.hr {
	width: 100%;
	margin: 43px 0 56px;
	height: 1px;
	border: 0;
	background-color: #d7dfe2;
}

/* //mark: text */
.textbox-area {
}

.textbox-area textarea {
	width: 100%;
	height: 110px;
	padding: 42px;
	border: 0;
	font-family: 'NanumGothic';
	font-size: 20px;
	color: #919191;
	resize: none;
	box-sizing: border-box;
	border: solid 1px #707070;
    background-color: #ffffff;
}
.textbox-area.has-btn {
    padding-right: 110px;
    position: relative;
}
.textbox-area.has-btn > button{
	position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.subject-tit {
	padding: 55px 0 37px;
	font-size: 38px;
	font-weight: 500;
	color: #228af1;
	text-align: center;
}

.tit-h2 {
	padding-bottom: 16px;
	font-size: 28px;
	color: #238af1;
	font-weight: 700;
}

.tit-h2.v1 {
	margin-bottom: 42px;
	font-size: 46px;
	font-weight: 700;
	padding-bottom: 0;
	line-height: 85px;
	padding-left: 88px;
}

.tit-h3 {
	font-size: 48px;
}

.tit-h4 {
	font-size: 42px;
}

.txt-sub-tit {
	font-size: 24px;
	line-height: 36px;
	color: #000;
}

.txt-box-in {
	font-size: 22px;
	line-height: 42px;
	color: #2d2d2d;
	word-break: break-all;
}

.txt-box-in.v1 {
	padding: 26px 56px 56px ! important;
}

.txt-sub1 {
	font-size: 18px;
	color: #6e6e6e;
}

.txt-sub2 {
	font-size: 18px;
	color: #000;
}

.txt-l {
	text-align: left !important;
}

.txt-r {
	text-align: right !important;
}

.txt-c {
	text-align: center !important;
}

.txt-strong {
	font-size: 28px !important;
}
.txt-strong-v2 {
	display: block;
	font-size: 24px;
	font-weight: 500;
}

.txt-box {
	padding: 52px 40px;
	border: 3px solid rgba(20, 145, 113, .6);
	border-radius: 80px;
	background-color: rgba(255, 255, 255, .6);
}

.txt-box.v1 {
	border-color: #417EC7;
	border-width: 5px;
	font-size: 22px;
	line-height: 38px;
	border-radius: 45px;
}

.txt-box.v1-2 {
	padding: 0;
	border-color: #417EC7;
	border-width: 5px;
	border-radius: 45px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.txt-box.v1-2 dt {
	padding: 18px 0 ! important;
	background-color: #417ec7;
	text-align: center;
	font-size: 36px;
	line-height: 42;
	color: #fff;
	border-radius: 37px 37px 0 0;
}

.txt-box.v2 {
	border-color: #9560e6;
}

.txt-box.v3 {
	border-color: #2990d2;
}

.txt-box p {
	padding-bottom: 50px;
}

.txt-box.v3 {
	padding: 35px 13px 41px 42px;
	border: solid 1px #707070;
	border-radius: 0;
	background-color: #f6f6f6;
	font-family: 'NanumGothic';
	font-size: 20px;
	line-height: 1.8;
}
.txt-box.v4{
	border:0;
	background: transparent;
}

.para .txt-box.v3 {
	margin-top: 20px;
}


.reply-wrap {}

.reply-wrap .file {
    padding: 7px 42px;
    margin-bottom: 20px;
	border: solid 1px #707070;
	border-top: 0;
    background-color: #ffffff;
    font-size: 20px;
}

.reply-wrap .file>strong {display: inline-block;padding-right: 30px;font-weight: 500;}

.reply-wrap .file .desc {
    color: #228af1;
    display: inline-block;
}
.reply-wrap .reply{
	font-family: 'NanumGothic';
	font-size: 20px;
	line-height: 1.8;
	color: #000;
}
.reply-wrap .reply .btn-wrap{
	border-bottom: 1px solid #707070;
	margin-bottom: 20px;
}
.reply-wrap .reply .st01,
.reply-wrap .reply .st02{
	display: block; position: relative;padding-left: 45px;
	line-height: 36px;
}
.reply-wrap .reply .st01::before,
.reply-wrap .reply .st02::before{
	content: '└.';
	display: block;
	position: absolute;
	top:-3px;
	left:0;
}
.reply-wrap .reply .st02{margin-left: 25px;}
.reply-wrap .reply .st02::before{ content: '└'; }



/* //mark: list */
.list-bu01>li {
	position: relative;
	padding-left: 30px;
	font-size: 22px;
	line-height: 46px;
	font-family: 'Nanum Gothic';
	font-weight: 700;
}

.list-bu01>li::before {
	content: '';
	display: block;
	position: absolute;
	top: 15px;
	left: 0;
	width: 11px;
	height: 11px;
	background-color: #228af1;
	border-radius: 50%;

}


/* //mark: search */
.board-form-search {
	padding: 40px 0 23px;
}

.board-form-search .form-search {
	width: 609px;
}

.board-form-search>div {
	float: left;
	margin-right: 20px;
}

.form-search {
	position: relative;
	padding-right: 130px;
}

.form-search__inp {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 42px;
	margin-right: 12px;
	box-sizing: border-box;
	border: 1px solid #238af1;
	border-radius: 21px;
	background: #fff;
}

.form-search input {
	width: 100%;
	padding: 0 62px;
	border: 0;
	line-height: 42px;
	background: transparent;
	font-size: 17px;
}

.form-search input::placeholder {
	font-size: 17px;
	color: #a1cbf5;
}

.form-search .btn-search {
	position: absolute;
	top: 50%;
	right: 0;
	width: 115px;
	height: 42px;
	background: url('../img/search01_bt.png') 0 0 no-repeat;
	font-size: 0;
	transform: translateY(-50%);
}

/* //mark: modal */
.laypop header {
	position: relative;
}

.laypop .btn-popclose {
	position: absolute;
	top: 50%;
	right: 11px;
	width: 25px;
	height: 25px;
	background: url('../img/icn_popclose.png') 50% 50% no-repeat;
	transform: translateY(-50%);
	font-size: 0;
}

/* //mark: form */
.selectWrap {
	display: inline-block;
	position: relative;
	width: 200px;
}

.selectWrap .form_select {
	width: 100%;
	height: 40px;
	padding: 0 20px;
	font-size: 18px;
	color: #4a4a4a;
	border: solid 1px #919191;
	background-color: #fff;
	-webkit-appearance: none;
}

.selectWrap::after {
	position: absolute;
	content: "";
	top: 17px;
	right: 16px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: rgb(22, 22, 22) transparent transparent transparent;
}

.form-grp.inline {
	display: inline-block;
}

/* //mark: table */
.table-wrap {
	margin: 0 auto;
}

.table {
	clear: both;
	width: 100%;
	margin: 0 auto;
	font-size: 14px;
	border-right: 1px solid #707070;
	border-left: 1px solid #707070;
	border-bottom: 1px solid #707070;
}

.table thead th {
	position: relative;
	padding: 20px 0 19px;
	color: #fff;
	background: #2990d2;
	border-top: 1px solid #707070;
	border-bottom: 1px solid #707070;
	font-size: 18px;
	line-height: 21px;
}

.table.v2 thead th {
	padding: 11px 0 9px;
	font-size: 14px;
	background: #686868;
}

.table thead th::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	width: 1px;
	height: 20px;
	background-color: #fff;
	transform: translateY(-50%);
}

.table thead th:last-child::after {
	display: none;
}

.table tbody tr:last-child td {
	border-bottom: 0;
}

.table tbody td {
	padding: 20px 0 19px;
	text-align: center;
	border-bottom: 1px solid #e1e1e1;
	color: #666;
	background-color: #fff;
	vertical-align: middle;
	font-size: 18px;
	color: #333;
	line-height: 21px;
}

.table.v2 tbody td {
	padding: 10px 0 10px;
	font-size: 14px;
	color: #697f8d;
}

.table.v2 tbody tr:nth-child(even) td {
	background-color: #f7f8fb;
}

.table-wrap .table-info {
	float: right;
	padding-bottom: 21px;
	line-height: 21px;
}

.table-wrap .table-info .total-num {
	display: inline-block;
	padding-right: 38px;
	font-size: 18px;
	color: #333;
}

.table-wrap .table-info .form-grp {
	display: inline-block;
}

.table tbody td.txt-l {
	padding-left: 30px;
}

.table.view-type {
	border-top: 1px solid #707070;
}

.table.view-type .subject {
	color: #fff;
	background-color: #686868;
}

.table.view-type .content {
	height: 400px;
}

.table.view-type th,
.table.view-type td {
	padding: 10px;
	font-size: 14px;
	vertical-align: middle;
}

.table.view-type tbody th {
	background: #c4c4c4;
	color: #686868;
}

.table.view-type tbody th,
.table.view-type tbody td {
	border-right: 1px solid #707070;
	border-bottom: 1px solid #707070;
}

/* //mark: layout */
.row-2>.l {
	float: left;
	width: 50%;
	padding-right: 10px;
	box-sizing: border-box;
}

.row-2>.r {
	float: right;
	width: 50%;
	padding-left: 10px;
	box-sizing: border-box
}

.fl-l {
	float: left;
}

.fl-r {
	float: right;
}

.pagewrap>button {
	margin-top: -10px;
}

[class^="container--"] header,
.gnb-sub,
.content .banner-wrap article,
.content .talk-wrap .main-board--step,
.content .board-wrap .index-wrap,
.table-wrap,
.mv-wrap,
footer.footer {
	width: 1180px;
	margin: 0 auto;
}

.container--sub {
	position: relative;
}

.container--sub::after {
	content: '';
	display: block;
	position: absolute;
	top: 109px;
	left: 0;
	right: 0;
	height: 450px;
	background: url('../img/sub01_img01.png') 50% 100% no-repeat, linear-gradient(to bottom, #bedbed -2%, #b9d8eb 15%, #add0e5 32%, #99c3dd 49%, #7cb0d0 66%, #5798c0 84%, #418ab7 93%);
	z-index: -1;
}

.sub-content {
	padding-top: 450px;
	padding-bottom: 140px;
}

.sub-content.intro01,
.sub-content.intro03 {
	padding-top: 470px;
}

.sub-content.board-type .sec {
	padding-top: 0;
}

.sub-content.board-type.tab .sec {
	padding-top: 34px;
}

/* //mark : gnb */
[class^="container--"] header {
	position: relative;
	height: 109px;
	padding: 28px 0 17px;
	box-sizing: border-box;
}

[class^="container--"] header h1 {
	display: inline-block;
	padding-left: 36px;
}

[class^="container--"] header h1>a {
	display: inline-block;
}

[class^="container--"] header h1 img {
	width: 130px;
}

[class^="container--"] header .gnb {
	display: inline-block;
	padding-top: 16px;
	padding-left: 59px;
	position: relative;
	font-size: 18px;
	line-height: 27px;
	vertical-align: top;
}

[class^="container--"] header .gnb>ul>li {
	display: inline-block;
}

[class^="container--"] header .gnb>ul>li:last-child {
	padding-right: 0;
}

[class^="container--"] header .gnb>ul>li>a {
	display: inline-block;
	padding: 0 42px 30px 42px;
	color: #333;
}

[class^="container--"] header .gnb>ul>li>a.on,
[class^="container--"] header .gnb>ul>li>a:hover {
	color: #417ec7;
}

[class^="container--"] header .gnb li ul a {
	padding-bottom: 23px;
	line-height: 27px;
	text-align: center;
}

[class^="container--"] header .gnb li ul li:last-child a {
	padding-bottom: 0;
}

[class^="container--"] header .family-link {
	float: right;
	padding-right: 38px;
	padding-top: 10px;
	vertical-align: top;
}

[class^="container--"] header .family-link a {
	display: inline-block;
	vertical-align: middle;
}

[class^="container--"] header .family-link a:first-child {
	padding-right: 20px;
}

.gnb-sub {
	overflow: hidden;
	background: #228af1;
}

.gnb-sub li {
	float: left;
}

.gnb-sub li a {
	display: block;
	padding: 16px 21px 15px;
	font-size: 16px;
	color: #fff;
}

.gnb-sub li a.on,
.gnb-sub li a:hover {
	background-color: #417ec7;
}

.btn-logout {
	top: -27px;
}

/* //mark: login */
.container--sub.login {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.container--sub.login::after {
	background: url(../img/bg_login.png) 50% 100% no-repeat #d8f3ff;
	top: 0;
	height: 100%;
}

.login-wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 580px;
	padding: 40px 36px 85px;
	transform: translate(-50%, -50%);
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	border: solid 1px #707070;
	background-color: #fff;
}

.login-wrap>h1 {
	font-size: 28px;
	color: #228af1;
	font-weight: 700;
	text-align: center;
}

.login-wrap .loginX {
	position: absolute;
	top: 10px;
	right: 17px;
	width: 36px;
	height: 36px;
	background: url('../img/icn_popclose2.png') 0 0 no-repeat;
	font-size: 0;
}

.login-wrap article {
	text-align: center;
	padding-top: 19px;
	font-size: 12px;
	line-height: 1.5;
}

.login-wrap>.btn-wrap {
	padding: 10px 16px 0;
}

.login-wrap .login-form {
	margin-top: 100px;
	padding: 0 16px;
}

.login-wrap .login-form .form-grp {
	padding-left: 65px;
	text-align: left;
}

.login-wrap .login-form .inp-wrap {
	margin: 10px 0 0;
}

.login-wrap input::placeholder {
	text-align: center;
}

button[class=btn--kakao] {
	width: 100%;
	height: 42px;
	border-radius: 8px;
	font-size: 16px;
	background: url('../img/icn_kakao.png') 10px 50% no-repeat #ffec00;
}

button[class=btn--kakao] span {
	color: #1e0c0c;
	font-weight: 800;
}

.login-wrap .login-form .btn-wrap {
	padding: 10px 0;
}

button[class=btn--login] {
	width: 100%;
	height: 42px;
	background-color: #228af1;
}

.login-form .label-txt {
	color: #888
}

/* //mark: main */
.content {}

.content .banner-wrap {
	padding: 137px 0 0 0;
	position: relative;
	background-image: linear-gradient(to bottom, #bedbed -2%, #b9d8eb 15%, #add0e5 32%, #99c3dd 49%, #7cb0d0 66%, #5798c0 84%, #418ab7 93%);
	box-sizing: border-box;
}

.content .banner-wrap>div {
	overflow: hidden;
	padding-bottom: 132px;
	height: 100%;
	background: url('../img/con01_img01.png') 50% 97% no-repeat;
}

.content .banner-wrap article .banner-sm {
	float: left;
	width: 600px;
}

.content .banner-wrap article .banner-sm .unit {
	float: left;
	position: relative;
	margin: 0 20px 20px 0;
	width: 280px;
	height: 153px;
	background: url('../img/icn_topban01.png') no-repeat #417ec7 33px 100%;
	color: #fff;
	box-sizing: border-box;
	border: 1px solid #1b4a82;
}

.content .banner-wrap article .banner-sm .unit:nth-child(2) {
	background: url('../img/icn_topban02.png') no-repeat #e25c77 33px 100%;
	border: 1px solid #92293e;
}

.content .banner-wrap article .banner-sm .unit:nth-child(3) {
	background: url('../img/icn_topban03.png') no-repeat #25c3b2 33px 100%;
	border: 1px solid #007d6f;
}

.content .banner-wrap article .banner-sm .unit:nth-child(4) {
	background: #f0a40f;
	border: 1px solid #8e6006;
}

.content .banner-wrap article .banner-sm .unit:nth-child(3),
.content .banner-wrap article .banner-sm .unit:nth-child(4) {
	padding-bottom: 0;
}

.content .banner-wrap article .banner-sm .unit>span {
	position: absolute;
	top: 32px;
	right: 27px;
	font-size: 19px;
	font-weight: 500;
	line-height: 26px;
	text-align: center;
}

.content .banner-wrap article .banner-sm .unit .btn-link {
	position: absolute;
	right: 33px;
	bottom: 22px;
	width: 104px;
	height: 28px;
	background-color: #238af1;
	border: 1px solid #fff;
	font-size: 11px;
	box-sizing: border-box;
	border-radius: 0;
}

.content .banner-wrap article .banner-sm .unit .btn-link.v2 {
	background-color: #148277;
}

.content .banner-wrap article .banner-sm .num {
	position: absolute;
	right: 31px;
	bottom: 33px;
	width: 115px;
	line-height: 50px;
	border: 1px solid #fff;
	font-size: 19px;
	color: #fff;
	text-align: center;
}

.content .banner-wrap article .banner-sm .num.v2 {
	width: 89px;
	height: 89px;
	background-color: #fff;
	border-radius: 50%;
	color: #8e6006;
	font-size: 24px;
	font-weight: 700;
	line-height: 89px;
}

.content .banner-wrap article .banner-sm .unit:nth-child(4)>span {
	right: initial;
	top: 50px;
	left: 16px;
}

.content .banner-wrap article .banner-big {
	float: right;
}

.content .talk-wrap {
	padding-top: 60px;
	background: #f1fdff;
}

.content .talk-wrap .main-board--step {
	overflow: hidden;
	margin: 60px auto 0;
}

.content .talk-wrap .main-board--step li {
	float: left;
	width: 25%;
	padding: 0 10px;
	font-size: 2px;
	color: #333;
	text-align: center;
	box-sizing: border-box;
}

.content .talk-wrap .main-board--step li .txt {
	font-size: 16px;
	color: #000;
	line-height: 28px;
}

.content .talk-wrap .main-board--step li [class^="icn"] {
	display: block;
	padding-top: 132px;
	padding-bottom: 25px;
	background: url('../img/con01_link0.png') 50% 0 no-repeat;
	background-size: 102px;
	text-align: center;
	font-size: 22px;
	font-weight: 700;
	color: #333;
}

.content .talk-wrap .main-board--step li [class^="icn"][class$="-2"] {
	background: url('../img/con01_link02.png') 50% 0 no-repeat;
	background-size: 102px;
}

.content .talk-wrap .main-board--step li [class^="icn"][class$="-3"] {
	background: url('../img/con01_link03.png') 50% 0 no-repeat;
	background-size: 102px;
}

.content .talk-wrap .main-board--step li [class^="icn"][class$="-4"] {
	background: url('../img/con01_link04.png') 50% 0 no-repeat;
	background-size: 102px;
}

.content .main-search-wrap {
	overflow: hidden;
	width: 100%;
	padding: 60px 0 39px;
	text-align: center;
}

.content .main-search-wrap .form-search {
	width: 609px;
	margin: 0 auto;
}

.content .serch-result {
	padding: 37px 0 64px;
}

.content .board-wrap {
	overflow: hidden;
	background: url('../img/con03_img01.png') 50% 50% no-repeat #c5def8;
}

.content .board-wrap .index-wrap {
	overflow: hidden;
	padding: 120px 0;
}

.content .board-wrap .index-wrap .index-list {
	float: left;
	position: relative;
	width: 32.2%;
	margin-right: 20px;
	padding: 26px 20px 54px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	border: solid 1px #c9c9c9;
	background-color: #ffffff;
	box-sizing: border-box;
}

.content .board-wrap .index-wrap .index-list:last-child {
	margin-right: 0;
}

.content .board-wrap .index-wrap .index-list .tit {
	position: relative;
	padding-left: 29px;
	font-size: 22px;
	font-weight: 700;
	color: #333;
}

.content .board-wrap .index-wrap .index-list .tit::after {
	content: '';
	display: block;
	position: absolute;
	width: 12px;
	height: 12px;
	background-color: #30a4ee;
	top: 50%;
	left: 0;
	border-radius: 50%;
	transform: translateY(-50%);
}

.content .board-wrap .index-wrap .index-list .more {
	position: absolute;
	top: 12px;
	right: 12px;
	display: block;
	width: 47px;
	height: 47px;
	background: url('../img/con03_add02.png') 0 0 no-repeat;
	font-size: 0;
}

.content .board-wrap .index-wrap .index-list .more:hover {
	background: url('../img/con03_add02_off.png') 0 0 no-repeat;
}

.content .board-wrap .index-wrap .index-list ul {
	padding: 47px 0 0;
	font-size: 16px;
	color: #000;
}

.content .board-wrap .index-wrap .index-list li {
	position: relative;
	padding-right: 80px;
	line-height: 42px;
	box-sizing: border-box;
}

.content .board-wrap .index-wrap .index-list li:nth-child(1),
.content .board-wrap .index-wrap .index-list li:nth-child(2) {
	border-bottom: 1px solid #777;
}

.content .board-wrap .index-wrap .index-list li:last-child {
	border-bottom: 0;
}

.content .board-wrap .index-wrap .index-list .subject {
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.content .board-wrap .index-wrap .index-list .date {
	position: absolute;
	top: 0;
	right: 0;
}

.content .mv-wrap {
	padding: 92px 0 91px;
}

.content .mv-wrap .mv-list {
	overflow: hidden;
	padding-top: 42px;
}

.content .mv-wrap .mv-list li {
	float: left;
	;
	width: 380px;
	padding-right: 20px;
}

.content .mv-wrap .mv-list li a {
	display: block;
}

.content .mv-wrap .mv-list li:last-child {
	padding-right: 0;
}

.content .mv-wrap .mv-list .tit {
	display: block;
	padding-top: 10px;
	font-size: 14px;
	line-height: 18px;
	color: #333;
}

.content .mv-wrap .mv-list .sub-tit {
	font-size: 12px;
}

/* //mark: sub 소개 */

.sub-content .sec>div {
	width: 1180px;
	margin: 0 auto;
}

.sub-content .sec.v0 {
	min-height: 446px;
	background: url('../img/sub-intro-bg1.png') 50% 0 no-repeat;
}

.sub-content .sec.v0 h3 {
	padding-top: 60px;
}

.sub-content .sec.v0 .txt-sub-tit {
	padding-top: 30px;
	padding-left: 75px;
}

.sub-content .sec .txt-sub-tit {
	padding-top: 38px
}

.sub-content .sec { padding: 91px 0 55px; }
.sub-content .sec.v4 { padding: 0; }

.sub-content .sec.v1 {
	background: #ecfffa;
}

.sub-content .sec.v2 {
	background: url('../img/bg-sub-intro.png') 50% 50% no-repeat #f3f5ff;
}

.sub-content .sec.v3 {
	padding-bottom: 133px;
	background: #f1fdff;
}

.sub-content .sec .subject-wrap {
	width: 1180px;
	margin: 0 auto;
	min-height: 262px;
	padding-left: 456px;
	margin-bottom: 24px;
	background: url('../img/sub-intro-bg2.png') 0 0 no-repeat;
	box-sizing: border-box;
}

.sub-content .sec.v2 .subject-wrap {
	min-height: 276px;
	padding-left: 0;
	padding-right: 460px;
	background: url('../img/sub-intro-bg3.png') 100% 0 no-repeat;
}

.sub-content .sec.v3 .subject-wrap {
	min-height: 298px;
	background: url('../img/sub-intro-bg4.png') 0 0 no-repeat;
}

.sub-content .sec .tit-h4 {
	position: relative;
}

.sub-content .sec .tit-h4::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 28px;
	height: 29px;
	background: url('../img/icn_leaf.png') 0 0 no-repeat;
	transform: translate(-30px, -29px);
}

.sub-content .sec .txt-box>dt {
	position: relative;
	padding-left: 76px;
	padding-bottom: 10px;
	font-size: 36px;
	line-height: 47px;
}

.sub-content .sec .txt-box>dd {
	padding-bottom: 33px;
}

.sub-content .sec .txt-box>dd:last-child {
	padding-bottom: 0;
}

.sub-content .sec .icn--target:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 47px;
	background: url('../img/icn_target.png') 0 0 no-repeat;
}

.sub-content .sec .icn--law:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 47px;
	background: url('../img/icn_law.png') 0 0 no-repeat;
}

.sub-content .sec.v2 .icn--target:after {
	background: url('../img/icn_target_v1.png') 0 0 no-repeat;
}

.sub-content .sec.v2 .icn--law:after {
	background: url('../img/icn_law_v1.png') 0 0 no-repeat;
}

.sub-content .sec.v3 .icn--target:after {
	background: url('../img/icn_target_v2.png') 0 0 no-repeat;
}
.sub-content .sec.v4 .icn--target:after {
	background: url('../img/icn_target_v3.png') 0 0 no-repeat;
}

.sub-content .sec.v3 .icn--law:after {
	background: url('../img/icn_law_v2.png') 0 0 no-repeat;
}

.sub-content.intro03 .aui-tab-wrap.i-0::after,
.sub-content.intro03 .aui-tab-wrap.i-1::after,
.sub-content.intro01 .aui-tab-wrap.i-1::after {
	content: '';
	position: absolute;
	top: 560px;
	left: 0;
	right: 0;
	bottom: 104px;
	background-color: #f1fdff;
	z-index: -100;
}

.sub-content.intro01 .map-31-wrap {
	position: relative;
	width: 1180px;
	margin: 107px auto;
	height: 1072px;
	background: url('../img/map.png') 0 0 no-repeat;
	background-size: auto;
}

.sub-content.intro01 .map-31-wrap .btn-icn {
	position: absolute;
}


/* 김포 */
.sub-content.intro01 .map-31-wrap .map-kimpo {
	top: 445px;
	left: 130px;
}

/* 파주시 */
.sub-content.intro01 .map-31-wrap .map-paju {
	top: 310px;
	left: 240px;
}

/* 고양시 */
.sub-content.intro01 .map-31-wrap .map-goyang {
	top: 460px;
	left: 280px;
}

/* 연천군 */
.sub-content.intro01 .map-31-wrap .map-yeonchon {
	top: 100px;
	left: 430px;
}

/* 동두천시 */
.sub-content.intro01 .map-31-wrap .map-ddchon {
	top: 260px;
	left: 450px;
}

/* 양주시 */
.sub-content.intro01 .map-31-wrap .map-yangjoo {
	top: 330px;
	left: 390px;
}

/* 의정부시 */
.sub-content.intro01 .map-31-wrap .map-ijb {
	top: 410px;
	left: 440px;
}

/* 포천군 */
.sub-content.intro01 .map-31-wrap .map-fochun {
	top: 200px;
	left: 600px;
}

/* 부천시 */
.sub-content.intro01 .map-31-wrap .map-bucheon {
	top: 575px;
	left: 190px;
}

/* 시흥시 */
.sub-content.intro01 .map-31-wrap .map-sih {
	top: 665px;
	left: 160px;
}

/* 광명시 */
.sub-content.intro01 .map-31-wrap .map-km {
	top: 595px;
	left: 290px;
}

/* 안산시 */
.sub-content.intro01 .map-31-wrap .map-as {
	top: 725px;
	left: 220px;
}

/* 안양시 */
.sub-content.intro01 .map-31-wrap .map-aa {
	top: 655px;
	left: 300px;
}

/* 군포시 */
.sub-content.intro01 .map-31-wrap .map-kp {
	top: 705px;
	left: 320px;
}

/* 과천시 */
.sub-content.intro01 .map-31-wrap .map-kc {
	top: 625px;
	left: 380px;
}

/* 의왕시 */
.sub-content.intro01 .map-31-wrap .map-iw {
	top: 675px;
	left: 380px;
}

/* 성남시 */
.sub-content.intro01 .map-31-wrap .map-sn {
	top: 645px;
	left: 490px;
}

/* 구리시 */
.sub-content.intro01 .map-31-wrap .map-guri {
	top: 515px;
	left: 490px;
}

/* 남양주시 */
.sub-content.intro01 .map-31-wrap .map-nyj {
	top: 435px;
	left: 580px;
}

/* 가평군 */
.sub-content.intro01 .map-31-wrap .map-gp {
	top: 350px;
	left: 750px;
}

/* 하남시 */
.sub-content.intro01 .map-31-wrap .map-hn {
	top: 575px;
	left: 550px;
}

/* 광주시 */
.sub-content.intro01 .map-31-wrap .map-kj {
	top: 655px;
	left: 650px;
}

/* 양평군 */
.sub-content.intro01 .map-31-wrap .map-yp {
	top: 575px;
	left: 890px;
}

/* 수원시 */
.sub-content.intro01 .map-31-wrap .map-sw {
	top: 755px;
	left: 380px;
}

/* 화성시 */
.sub-content.intro01 .map-31-wrap .map-hs {
	top: 855px;
	left: 280px;
}

/* 오산시 */
.sub-content.intro01 .map-31-wrap .map-os {
	top: 835px;
	left: 420px;
}

/* 용인시 */
.sub-content.intro01 .map-31-wrap .map-yi {
	top: 765px;
	left: 570px;
}

/* 이천시 */
.sub-content.intro01 .map-31-wrap .map-ic {
	top: 785px;
	left: 790px;
}

/* 여주군 */
.sub-content.intro01 .map-31-wrap .map-yj {
	top: 755px;
	left: 950px;
}

/* 평택시 */
.sub-content.intro01 .map-31-wrap .map-ft {
	top: 975px;
	left: 400px;
}

/* 안성시 */
.sub-content.intro01 .map-31-wrap .map-asung {
	top: 925px;
	left: 650px;
}

.sub-content.intro02 .icn--note {
	position: relative;
	margin-left: 42px;
}

.sub-content.intro02 .icn--note:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 88px;
	height: 85px;
	background: url('../img/icn_note.png') 0 0 no-repeat;
}

.sub-content.intro02 .bg-01 {
	padding-right: 350px;
	padding-bottom: 89px;
	background: url('../img/sub-intro02-bg.png') 100% 100% no-repeat;
}

.sub-content.intro03 .i-0 .tit-wrap{
	padding-top: 32px;
	padding-bottom: 90px;
	padding-left: 470px;
	background: url('../img/sub-intro03_v1.png') 0 32px no-repeat;
}
.sub-content.intro03 .i-0 .tit-wrap h2>img,
.sub-content.intro03 .i-1 .tit-wrap h2>img{width: auto; margin-left: -50px;}
.sub-content.intro03 .i-1 .tit-wrap h2>img{margin-left: 0;}
.sub-content.intro03 .i-1 .tit-wrap{
	padding-top: 32px;
    padding-bottom: 90px;
    padding-right: 480px;
    background: url('../img/sub-intro03_v2.png') 100% 32px no-repeat;
}
.sub-content.intro03 .i-0 .desc-wrap,
.sub-content.intro03 .i-1 .desc-wrap{
    background: url('../img/sub-intro03_bg.png') 100% 100% no-repeat;

}

/* //mark: sub 정보공유 */
/* //mark: sub 정말정책 */
.propose-wrap .info-box {
	display: flex;
	justify-content: space-between;
	width: 980px;
	margin: 0 auto 84px;
	padding: 17px 24px;
	border: solid 2px #228af1;
	background-color: #fff;
	box-sizing: border-box;
}

.propose-wrap .info-box>span {
	color: #228af1;
	font-size: 18px;
}

.propose-wrap .info-box .tit {
	font-weight: bold;
	padding-right: 10px;
	color: #000000;
}

.propose-wrap .para {
	max-width: 980px;
	margin: 0 auto;
}

.total-num {
	color: #333;
	font-size: 18px;
	padding-right: 38px;
	vertical-align: middle;
}

.box--list {
	padding: 37px 0 0 0;
}

.box--list li {
	float: left;
	width: 25%;
	text-align: center;
	padding: 0 20px 32px 0;
	box-sizing: border-box;
}

.box--list li .box {
	padding: 15px 9px 10px 10px;
	margin-bottom: 10px;
	border: solid 1px #417ec7;
	background-color: #f8fcff;
	text-align: left;
}

.box--list li .box>strong {
	display: block;
	padding-bottom: 17px;
	font-size: 14px;
	color: #417ec7;
}

.box--list li .box>p {
	overflow: hidden;
	height: 50px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
	font-size: 12px;
	line-height: 18px;
	color: #333;
}

.box--list li .box .info {
	padding-top: 35px;
	font-size: 14px;
	overflow: hidden;
	color: #417ec7;
	position: relative;
}

.box--list li .box .info .place {
	position: absolute;
	left: 0;
	bottom: 2px;
}

.box--list li .box .info .date-wrap {
	float: right;
}

.box--list li .box .info .date {
	display: block;
	font-size: 12px;
	line-height: 18px;
	color: #333;
	font-weight: 300;
}

.box--list li .count,
.box--list li .reply {
	position: relative;
	padding: 0 10px;
	font-size: 18px;
	color: #333;
}

.box--list li .count::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	width: 1px;
	height: 20px;
	background-color: #333;
	transform: translateY(-50%);
}



/* //mark: sub 자료실 */
.thumb-list {
	width: 100%;
}

.thumb-list li {
	float: left;
	width: 380px;
	padding-right: 20px;
	padding-bottom: 20px;
	box-sizing: border-box;
}

.thumb-list li:first-child {}

.thumb-list li:nth-child(3n+4) {
	clear: both;
}

.thumb-list li>div {
	display: block;
	border: 1px solid #707070;
}

.thumb-list li>div>span {
	display: block;
	padding: 10px;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
}

/* //mark: footer */
footer.footer {
	height: 65px;
	padding: 25px 0 22px;
}

footer.footer address {
	float: left;
	font-size: 13px;
	color: #474645;
	font-style: normal;
	line-height: 19px;
}

footer.footer address .detail {
	display: block;
}

footer.footer address .fax {
	display: block;
}

footer.footer address .owner,
footer.footer address .email,
footer.footer address .code {
	padding-left: 5px;
}

footer.footer .ex-link {
	overflow: hidden;
	height: 65px;
	float: right;
}

footer.footer .ex-link li {
	float: left;
	padding-left: 44px;
	text-align: center;
}

footer.footer .ex-link li a {
	position: relative;
	display: inline-block;
	line-height: 65px;
}

footer.footer .ex-link li:first-child {
	padding-left: 0;
}

footer.footer .ex-link li:nth-child(2) {
	margin-top: 12px;
}

footer.footer .ex-link li:nth-child(3) {
}

[class^="container--"] header .mo-menu{
	display: none;
}



/* //mark: @media 960이하 반응형 */
@media screen and (max-width:960px) {
	html.masked:after{
		content: '';
		position: fixed;
		background: rgba(0,0,0,.7);
		top: 0;bottom: 0;left: 0;right: 0;
		pointer-events: none;
	}
    [class^="container--"] header .family-link{display:none}
    [class^="container--"] header .mo-menu{
		display: block;
        position: absolute;
        left: 27px;
        top:50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background: url('../img/icn_side_menu.png') 50% 50% no-repeat;
	}
	[class^="container--"] header .mo-menu > span{
		font-size: 0;
	}
    [class^="container--"] header .mo-menu.on{
		background: url('../img/icn_side_close.png') 50% 50% no-repeat;
	}

    [class^="container--"] header .gnb{
		position: absolute;
		top: 108px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		width: 100%;
		padding: 0;
		background: white;
		border-right: 0;
		border-left: 0;
		transform: translateX(-100%);
		transition: all .3s;
	}
    [class^="container--"] header .gnb.on{
		transform: translateX(0);
	}
    [class^="container--"] header .gnb>ul>li{
		width: 100%;
		float: left;
		text-align: left;
		background: #fff;
		border-top:1px solid #e3e3e3;
	}
	[class^="container--"] header .gnb>ul>li>a.login {
		background: none !important;
	}
	[class^="container--"] header .gnb>ul>li>a {
		width: 100%;
		padding: 5px 10px;
		font-size: 16px;
		box-sizing: border-box;
		background: url('../img/icn_side_arr.png') calc(100% - 27px) 50% no-repeat;
	}
	[class^="container--"] header .gnb>ul>li.on>a{
		background: url('../img/icn_side_arr_up.png') calc(100% - 27px) 50% no-repeat;
	}
	.map-31-wrap a[class^=btn]:before{
		position: absolute;
	}

	.gnb .menu2depth--allsub{
		width: 100%;
	}
	.gnb .menu2depth--allsub>li ul{
		position: relative;
		display: none;
		height: auto !important;
		padding-left:15px;
		border-top:1px solid #e3e3e3;
		background: #f3f3f3;

	}
	.gnb .menu2depth--allsub>li.on ul{
		display: block;
	}
	.gnb .menu2depth--allsub>li ul li a{
		width: 100%;
		padding: 9px 0;
		font-size: 18px;
		text-align: left;
	}
	[class^="container--"] header .gnb li ul li:last-child a {
		padding-bottom: 9px;
	}
	.floatBar{display: none;}


	[class^="container--"] header {
		text-align: center;
	}
    .sub-content,
    footer.footer {
        padding: 0 10px;
	}
	footer.footer address{
		padding-bottom: 20px;
	}
    .content .banner-wrap{
        padding: 20px 10px;
    }
    .content .banner-wrap > div{
        padding:0;
        width: 100%;
    }
    .content .banner-wrap article {
		display: flex;
		flex-direction: column-reverse;
	}
    .content .banner-wrap article .banner-sm{
        width: 100%;
    }
    .content .banner-wrap article .banner-sm .unit {
        clear:both;
        width:100%;
	}
	.content .banner-wrap article .banner-sm .unit:nth-child(4){
		margin-bottom: 0;
	}

    .content .banner-wrap article .banner-big{
        margin-bottom: 20px;
    }

    .content .board-wrap .index-wrap{
        padding:20px 10px;
    }
    .content .board-wrap .index-wrap .index-list{
        margin-bottom:10px;
    }
    .content .board-wrap .index-wrap .index-list:last-child{
        margin-bottom: 0;
	}
	.table tbody td > p{
		display:-webkit-box;
		-webkit-line-clamp:2;
		-webkit-box-orient:vertical;
		line-height:20px;
		overflow:hidden;
		text-overflow:ellipsis;
		text-align: left;
	}

    .content .serch-result {
        padding:10px 0;
    }
    .main-banner{
        width:100%;
	}

	.content .banner-wrap article .banner-sm .num{
		width: 85px;
	}
	.content .banner-wrap article .banner-sm .unit>span{
		font-size: 16px;
	}
	.content .talk-wrap {
		padding: 60px 10px 0;
	}
	.content .talk-wrap .main-board--step li{
		margin-bottom: 40px;
	}

    .content .mv-wrap{
        padding: 40px 10px;
        box-sizing: border-box;
    }

    .content .main-search-wrap .form-search{
        display:flex;
        justify-content: space-between;
	}
	.table-wrap .table-info .total-num{
		font-size: 16px;
	}

	.table thead th,
	.table tbody td{
		padding: 10px 5px;
		font-size: 14px;
	}

    ul.aui-tab{
        width: 100%;
	}
	ul.aui-tab li span{
		line-height: 1.6;
	}
	.sub-content .sec.v0 h3{
		padding-top: 30px;
	}
	.tit-h3{font-size: 30px;}
	.tit-h4{font-size: 28px;}
	.txt-sub-tit{font-size: 16px;}
	.sub-content .sec{padding: 45px 0 27px;}
	.sub-content .sec .txt-box>dt{font-size: 22px;}
	.txt-box-in.v1{
		padding: 20px 10px !important;
	}
	.txt-box-in{
		font-size: 16px;
	}
	.laypop.type01 .wrap-modal .inner{width: 100%;}
	.txt-box{padding: 10px;}
	.txt-box.v1{font-size: 16px;}
    .container--sub::after{
        display: none;
	}
	.list-bu01>li{padding-left: 10px; font-size: 16px;line-height: 1.5;}
	.list-bu01>li::before{
		top: 7px;
		width: 6px;height: 6px;
	}
	.pagewrap>button{margin-top: 20px;}
    .sub-content{
        padding-top:0 !important;
        padding-bottom:0 !important;
    }
    .sub-content.intro02 .bg-01 {
        padding:0;
        background: none;
    }
    .row-2 > .l,
    .row-2 > .r{
		width: 100%;
		padding-left: 0;
	}
	.row-2 > .r{
		margin-top: 10px;
	}
    .sub-content .sec.v0,
    .sub-content .sec.v2 .subject-wrap,
    .sub-content .sec.v3 .subject-wrap,
    .sub-content .sec.v0 .txt-sub-tit,
    .sub-content .sec .subject-wrap{
        background: none;
        padding: 0;
        min-height: auto;
    }

    .sub-content .sec.v3{
        padding-bottom: 0;
    }
    .sub-content .sec > div,
    .sub-content .sec .subject-wrap{
        width:auto;
    }
    .sub-content .sec .tit-h4::before{
        display: none;
    }
    .selectWrap{
        width: 100%;
    }
    .board-form-search .form-search {
        display:block;
        margin-top:10px;
        width:auto;
	}
	.form-search input{
		padding: 0 5px;
	}
	.table tbody td.txt-l{padding-left: 5px;}
	input[type=file]{width: 100%;}
	.form-grp>span{
		padding: 0 15px 0 0;
	}
	.txt-box.v3{
		padding: 15px;
		font-size: 16px;
	}
    .box--list li {
		width: 100%;
		padding: 0 0 20px;
	}
	.textbox-area textarea{font-size: 16px;}
	.txt-strong-v2{font-size: 20px;}
	.reply-wrap .reply{font-size: 16px;padding-left: 10px;}
	.sub-content .sec .txt-sub-tit{padding-top: 15px;}
	.board-form-search{padding: 20px 0 10px;}
    .propose-wrap .info-box{
        width: auto;
    }
    .steparea--v2 .step-wrap > span:first-child span{
        width: auto;
        left:0;
        transform: translateX(0);
    }
    .steparea--v2 .step-wrap > span:last-child span{
        width: auto;
        text-align:right;
        left: initial;
        right:0;
        transform: translateX(0);
    }

    .thumb-list li{
		width: 100%;
		padding-right: 0;
    }
	[class^="container--"] header,
	.sub-content,
	.gnb-sub,
	.content .banner-wrap article,
	.content .talk-wrap .main-board--step,
	.content .board-wrap .index-wrap,
	.table-wrap,
	.content .main-search-wrap .form-search,
	.sub-content .sec>div,
	.login-wrap,
	footer.footer {
		width: auto;
	}
	.login-wrap{
		width: 80%;
		padding:20px 18px 42px;
    }
    .content .main-search-wrap .form-search{
        margin:0 10px;
    }
    .sub-content.intro03 .aui-tab-wrap.i-0::after,
    .sub-content.intro03 .aui-tab-wrap.i-1::after,
    .sub-content.intro01 .aui-tab-wrap.i-1::after {
        background: none;
    }

	.content .board-wrap .index-wrap .index-list,
	.content .talk-wrap .main-board--step li {
		width: 100%;
	}
    .subject-tit{
        font-size: 22px;
    }

    .sub-content.intro01 .map-31-wrap{
        width:100%;
        height: auto;
        background:none;
        margin-top:0;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .sub-content.intro01 .map-31-wrap .btn-icn{
        position: initial;
        width:25%;
        margin:0 5px 15px;
    }
    .sub-content.intro01 .map-31-wrap .btn-icn >span{
        width:100%;
        padding: 0;
    }
	.sub-content.intro03 .i-0 .tit-wrap{
		padding-left: 0;
		padding-bottom: 40px;
		background: none;
	}
	.sub-content.intro03 .i-0 .tit-wrap h2>img, .sub-content.intro03 .i-1 .tit-wrap h2>img{
		margin-left: 0;
		width: 100%;
	}
	.sub-content.intro03 .i-1 .tit-wrap{
		background: none;
		padding-right: 0;
		padding-bottom: 20px;
	}
    .propose-wrap .info-box .tit{
        display:block;
        padding-bottom:10px;
    }
    .textbox-area textarea{
        padding:10px;
    }
    .content .mv-wrap{
		width:100%;
		padding-bottom: 0;
    }
	.content .mv-wrap .mv-list li {
		clear: both;
		width: 100%;
		padding: 0 0 20px;
	}
    footer.footer{
        padding-top:30px;
    }
	footer.footer .ex-link {
        clear: both;
        float:left;
        width:100%;
		height: auto;
	}
    footer.footer .ex-link li{
		width:25%;
		padding: 0 10px;
        box-sizing: border-box;
	}
	footer.footer .ex-link li:first-child img{
		width: 45%;
	}
	footer.footer .ex-link li:nth-child(2){
		margin-top: 0;
	}
}