@charset "utf-8";

/* //mark : color */
.clr--danger{color: #ed4b30;}
.clr--code{color: #0768c4;}
.clr--link{color: blue !important;}

/* //mark : space */
.mb--s{margin-bottom: 10px;}
.mt--s{margin-top: 10px;}