@charset "utf-8";


/* //mark: snippet */
html.fixed {
	overflow-y: hidden;
}

.w100 {
	width: 100%
}

.hidden {
	/* 접근성 block context */
	overflow: hidden;
	border: 0;
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
}

.hidden-inline {
	/* 접근성 inline context */
	overflow: hidden;
	display: inline-block;
	border: 0;
	margin: -1px;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
}


/* //mark: 공통(form,select) */
input[type=search],
input[type=password],
input[type=text] {
	font-weight: 300;
	font-size: 13px;
}

.inp-form {
	position: relative;
	box-sizing: border-box
}

.aui-hasDelForm>input {
	padding-right: 30px;
}

input[type=text]+.aui-deltxt {
	display: inline-block;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 50%;
	right: 10px;
	padding: 0 8px;
	transform: translateY(-50%);
	background: url('../img/icn_ir.png') 0 0 no-repeat;
	background-position: -100px -4px;
	z-index: 10;
}

input[type=text]+.aui-deltxt.hidden {
	display: none;
}

.inp-wrap input {
	width: 100%;
	height: 52px;
	padding: 0 0 0 15px;
	line-height: 50px;
	color: #666;
	font-size: 16px;
	background: #fafafa;
	border: 1px solid #e8e8e8;
	box-sizing: border-box;
	outline: none;
}

.inp-wrap input:focus {
	border-color: #333;
}

.inp-wrap input::placeholder {
	color: #d2d2d2;
}

.inp-wrap input:-ms-input-placeholder {
	color: #d2d2d2;
}

.inp-wrap {
	display: inline-block;
	width: 100%;
	padding: 0;
	position: relative;
	box-sizing: border-box;
}

.inp-wrap.row-2 span {
	float: left;
	width: 50%;
	padding-right: 5px;
	box-sizing: border-box;
}

.inp-wrap.row-2 span:last-child {
	padding-left: 5px;
	padding-right: 0;
}

.inp-wrap.has-btn {
	padding: 0 146px 0 0;
}

.inp-wrap.has-btn>button {
	position: absolute;
	top: 0;
	right: 0;
}

.inp-wrap .label-name {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	display: table;
}

.inp-wrap .label-name>span {
	display: table-cell;
	vertical-align: middle;
}

.inp-wrap .label-name+span {
	display: block;
	padding-left: 150px;
}

.inp-btn {
	display: inline-block;
	vertical-align: top;
	position: absolute;
	top: 0;
	right: 0;
}

.inp-wrap.lable-ani {
	overflow: hidden;
}

.inp-wrap.lable-ani .label-name {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	pointer-events: none;
	border-bottom: 1px solid #333;
}

.inp-wrap.lable-ani .label-name:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100%;
	height: 100%;
	border-bottom: 3px solid #f00;
	transform: translateX(-100%);
}

.inp-wrap.lable-ani input {
	padding-left: 0;
	border-top: 0;
	border-left: 0;
	background: 0;
	line-height: normal;
	border-right: 0;
}

.inp-wrap.lable-ani .content-name {
	position: absolute;
	bottom: 15px;
	left: 0px;
	transition: all .3s ease;
}

.inp-wrap.lable-ani input:focus+.label-name .content-name,
.inp-wrap.lable-ani input:valid+.label-name .content-name {
	transform: translateY(-150%);
	font-size: 14px;
	color: #f00;
}

.inp-wrap.lable-ani input:focus+.label-name::after,
.inp-wrap.lable-ani input:valid+.label-name::after {
	transform: translateX(0%);
	transition: transform .3s ease;
}

/* //mark: buttons */
[class^=btn-wrap] {
	overflow: hidden;
}

[class^=btn-wrap][class*=--row-2]>span {
	float: left;
	width: 50%;
	padding-right: 2.5px;
	box-sizing: border-box;
}

[class^=btn-wrap][class*=--row-2]>span:last-child {
	float: left;
	width: 50%;
	padding: 0 0 0 2.5px;
	box-sizing: border-box;
}

[class^=btn-wrap][class*=--flex] {
	display: flex;
	justify-content: space-between;
}

[class^=btn-wrap][class*=--flex]>button:nth-child(2) {
	margin: 0 5px
}

a[class^=btn],
button[class^=btn] {
	display: inline-block;
	position: relative;
	height: 52px;
	padding: 0;
	font-size: 16px;
	font-weight: bold;
	box-sizing: border-box;
	color: #fff;
	background-color: #aa301c;
	border-radius: 2px;
	text-align: center;
	vertical-align: middle;
	letter-spacing: 0;
}

a[class^=btn]:before,
button[class^=btn]:before {
	content: "";
	display: inline-block;
	height: 100%;
	line-height: 0;
	vertical-align: middle;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
}

/* ie9 버튼 pressed 효과 제거 position 속성 추가 */
a[class^=btn]>span,
button[class^=btn]>span {
	display: inline-block;
	/* position: absolute; */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	line-height: normal;
	padding: 0 20px 0;
	color: #fff
}

a[class^=btn][class*=--free-width],
button[class^=btn][class*=--free-width] {
	min-width: auto;
}

a[class^=btn][class*=--free-width]>span,
button[class^=btn][class*=--free-width]>span {
	position: relative;
}

a[class^=btn][class*=--md],
button[class^=btn][class*=--md] {
	height: 38px;
}

a[class^=btn][class*=--sm],
button[class^=btn][class*=--sm] {
	height: 28px;
}

a[class^=btn][class*=--xs],
button[class^=btn][class*=--xs] {
	height: 22px;
}

a[class^=btn][class*=--md]>span,
button[class^=btn][class*=--md]>span {
	line-height: 38px
}

a[class^=btn][class*=--sm]>span,
button[class^=btn][class*=--sm]>span {
	line-height: 28px;
	font-size: 14px;
}

a[class^=btn][class*=--xs]>span,
button[class^=btn][class*=--xs]>span {
	line-height: 22px;
	font-size: 12px;
}

a[class^=btn][class*=--no],
button[class^=btn][class*=--no] {
	background: #5b5b5b
}

a[class^=btn][class*=--ok]:active,
button[class^=btn][class*=--ok]:active,
a[class^=btn][class*=--ok]:focus,
button[class^=btn][class*=--ok]:focus,
a[class^=btn][class*=--ok]:hover,
button[class^=btn][class*=--ok]:hover {
	background: #771403
}

a[class^=btn][class*=--no]:active,
button[class^=btn][class*=--no]:active,
a[class^=btn][class*=--no]:focus,
button[class^=btn][class*=--no]:focus,
a[class^=btn][class*=--no]:hover,
button[class^=btn][class*=--no]:hover {
	background: #2b2b2b
}

a[class^=btn][class*=--ok]:disabled,
button[class^=btn][class*=--ok]:disabled,
a[class^=btn][class*=--ok]:disabled:active,
button[class^=btn][class*=--ok]:disabled:active,
a[class^=btn]:disabled:hover,
button[class^=btn][class*=--ok]:disabled:hover,
a[class^=btn][class*=disabled],
button[class^=btn][class*=--ok][class*=disabled],
a[class^=btn][class*=disabled]:active,
button[class^=btn][class*=--ok][class*=disabled]:active,
a[class^=btn][class*=disabled]:hover,
button[class^=btn][class*=--ok][class*=disabled]:hover {
	background: #e49c90
}

a[class^=btn][class*=--no]:disabled,
button[class^=btn][class*=--no]:disabled,
a[class^=btn][class*=--no]:disabled:active,
button[class^=btn][class*=--no]:disabled:active,
a[class^=btn][class*=--no]:disabled:hover,
button[class^=btn][class*=--no]:disabled:hover,
a[class^=btn][class*=--no][class*=--disabled],
button[class^=btn][class*=--no][class*=--disabled],
a[class^=btn][class*=--no][class*=--disabled]:active,
button[class^=btn][class*=--no][class*=--disabled]:active,
a[class^=btn][class*=--no][class*=--disabled]:hover,
button[class^=btn][class*=--no][class*=--disabled]:hover {
	background: #b6b6b6
}

a[class^=btn-icn],
button[class^=btn-icn] {
	display: inline-block;
	min-width: auto;
	height: 32px;
	padding: 0;
	border-radius: 2px;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0;
	box-sizing: border-box;
	background-color: #f3f5f8;
	border: 1px solid #9b9fa8;
}

a[class^=btn-icn]>span,
button[class^=btn-icn]>span {
	padding: 0 12px 0;
	color: #575b63;
}

a[class^=btn-icn]>span>i.fa,
button[class^=btn-icn]>span>i.fa,
a[class^=btn-icn]>span>i.fas,
button[class^=btn-icn]>span>i.fas {
	padding: 0 5px 0 0;
}

a[class^=btn-icn]:active,
button[class^=btn-icn]:active,
a[class^=btn-icn]:hover,
button[class^=btn-icn]:hover {
	background-color: #e9ebef;
	border-color: #2b2e38;
	color: #2b2e38;
}

a[class^=btn-icn]:disabled,
button[class^=btn-icn]:disabled,
a[class^=btn-icn]:disabled:active,
button[class^=btn-icn]:disabled:active,
a[class^=btn-icn]:disabled:hover,
button[class^=btn-icn]:disabled:hover {
	background-color: #fff;
	border-color: #e9ebef;
}

a[class^=btn-icn]:disabled>span,
button[class^=btn-icn]:disabled>span,
a[class^=btn-icn]:disabled:active>span,
button[class^=btn-icn]:disabled:active>span,
a[class^=btn-icn]:disabled:hover>span,
button[class^=btn-icn]:disabled:hover>span {
	color: #e9ebef;
}

a[class^=btn][class*=--list],
button[class^=btn][class*=--list] {
	border: 1px solid #d2d2d2;
	font-size: 16px;
	color: #666;
	line-height: 36px;
	padding: 0 27px;
}

a[class^=btn][class*=--list],
button[class^=btn][class*=--list]:focus,
a[class^=btn][class*=--list],
button[class^=btn][class*=--list]:hover {
	border-color: #3ead57;
}

a[class^=btn][class*=--mid],
button[class^=btn][class*=--mid] {
	min-width: 136px;
}


/* //mark: selection controls */
input.form__chk+label {
	font-family: 'Font Awesome 5 Free';
	font-weight: normal;
	font-size: 28px
}

input.form__chk+label:before {
	content: "\f0c8";
	color: #717171;
	padding-right: 5px
}

input.form__chk+label:hover:before,
input.form__radio+label:hover:before {
	color: #333
}

input.form__chk:checked+label:before {
	content: "\f14a";
	color: #006cd1
}

input.form__chk:disabled+label,
input.form__radio:disabled+label {
	opacity: .3;
}

input.form__chk:disabled+label:hover:before,
input.form__radio:disabled+label:hover:before {
	color: #717171;
}

input.form__chk:disabled+label:before:hover,
input.form__radio:disabled+label:before:hover {
	color: #717171
}

input.form__radio+label {
	position: relative;
	font-size: 28px
}

input.form__radio+label:before {
	content: "";
    width: 20px;
    height: 20px;
    border: solid 1px #2990d2;
    background-color: #ffffff;
	display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
}

input.form__radio:checked+label:after {
	content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #fc725c;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

input.form__chk.inp--error+label:before,
input.form__radio.inp--error+label:before {
	color: #ed4b30
}

input.form__chk.inp--error:disabled+label,
input.form__radio.inp--error:disabled+label {
	opacity: 1;
}

input.form__chk.inp--error:disabled+label:before,
input.form__radio.inp--error:disabled+label:before {
	color: #ed4b30
}

input.form__chk:focus+label,
input.form__radio:focus+label {
	outline: -webkit-focus-ring-color auto 1px;
}

input.form__chk__slide+label {
	position: relative;
	display: inline-block;
}

input.form__chk__slide+label:before {
	content: '';
	position: absolute;
	top: 50%;
	display: inline-block;
	width: 28px;
	height: 16px;
	border-radius: 11px;
	border: 1px solid #b9b9b9;
	transition: all ease .3s;
	transform: translateY(-50%);
}

input.form__chk__slide+label:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 2px;
	width: 12px;
	height: 12px;
	background: #adb5bd;
	border-radius: 50%;
	transform: translateY(-50%);
	transition: all ease .3s;
}

input.form__chk__slide:checked+label:before {
	background: #007bff;
	border-color: #007bff;
}

input.form__chk__slide:checked+label:after {
	transform: translate(14px, -50%);
	background: #fff;
}

input.form__chk__slide+label .label-txt {
	padding-left: 35px;
}

input.form__chk__slide:disabled+label:before {
	background: #d5d5d6;
}

.form-grp>span {
	display: inline-block;
	padding: 0 38px 0 0;
	vertical-align: middle;
}

.form-grp>span:last-child {
	padding-right: 0;
}

input+label>.label-txt {
	position: relative;
	top: -2px;
	padding-left: 8px;
	font-size: 16px;
	vertical-align: middle
}

/* //mark: aui-tab */
ul.aui-tab {
	width: 100%;
	display: table;
	border-collapse: collapse;
	box-sizing: border-box;
}

ul.aui-tab li {
	position: relative;
	width: 33.3333%;
	display: table-cell;
	border: 1px solid #333;
}

ul.aui-tab li span {
	display: block;
	width: 100%;
	line-height: 28px;
	color: #2b2b2b;
}

.aui-tab-btn {
	display: block;
	width: 100%;
	padding: 2px;
	box-sizing: border-box;
}

.aui-tab-wrap input+label.aui-tab-btn:before,
.aui-tab-btn:before {
	display: block;
	content: '';
	background: #eee;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: -1;
}
.aui-tab-wrap input:checked+label.aui-tab-btn,
ul.aui-tab li a.on span{
	color:#fff;
}
.aui-tab-wrap input:checked+label.aui-tab-btn:after,
.aui-tab-btn.on:after {
	content: '';
	display: block;
	position: absolute;
	background:rgba(255, 0, 0, .5);
	top: -1px;
	left: -1px;
	right: -1px;
	bottom: -1px;
	z-index:-1;
	border: 1px solid rgba(255, 0, 0, 1);
}

.aui-tab-list {
	display: none;
	width: 100%;
	padding: 10px;
	border: 1px solid #333;
	border-top: 0;
	box-sizing: border-box
}

.aui-tab-list.on {
	display: block;
}
.aui-tab-wrap input:focus+label.aui-tab-btn{
	outline: -webkit-focus-ring-color auto 1px;
}

html.mobile .select-wrap {
	position: relative;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	color: #333;
}

html.mobile .select-wrap:after {
	content: "\f107";
	position: absolute;
	z-index: 1111;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
}

html.mobile .form__select {
	-webkit-appearance: none;
	position: relative;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #aaa;
}

.select-wrap.aui-selectbox {
	position: relative;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	color: #333;
}

.select-wrap.aui-selectbox:after {
	content: "\f107";
	position: absolute;
	z-index: 1111;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
}

.select-wrap.aui-selectbox.active.aui-result-active:after {
	content: "\f106";
	position: absolute;
	z-index: 1111;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
}

.select-wrap.aui-selectbox .aui-result-ul {
	display: none;
	position: absolute;
	top: 100%;
	z-index: 1010;
	width: 100%;
	border: 1px solid #aaa;
	border-top: 0;
	background: #fff;
	-webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
	clip: rect(0, 0, 0, 0);
	-webkit-clip-path: inset(100% 100%);
	clip-path: inset(100% 100%);
	box-sizing: border-box
}

.select-wrap.aui-selectbox.active.aui-result-active .aui-result-ul {
	overflow-y: auto;
	display: block;
	max-height: 140px;
	clip: auto;
	-webkit-clip-path: none;
	clip-path: none;
	margin-top: -1px;
	border-radius: 0 0 4px 4px;
	background-clip: padding-box;
	z-index: 1112;
}

.select-wrap.aui-selectbox.active.aui-result-active .aui-result-ul button {
	display: block;
	width: 100%;
	padding: 8px;
	cursor: pointer;
	box-sizing: border-box;
	text-align: left;
}

.select-wrap.aui-selectbox.active.aui-result-active .aui-result-ul button:disabled {
	cursor: default;
}

.select-wrap.aui-selectbox.active.aui-result-active .aui-result-ul button:hover,
.select-wrap.aui-selectbox.active.aui-result-active .aui-result-ul button:focus,
.select-wrap.aui-selectbox.active.aui-result-active .aui-result-ul button:active {
	background: #c1c1c1;
}

.select-wrap.aui-selectbox .pc_selwrap {
	position: relative;
}

.select-wrap.aui-selectbox .pc_selwrap>div.selOneWrap {
	position: relative;
	display: block;
	overflow: hidden;
	height: 25px;
	border: 1px solid #aaa;
	border-radius: 5px;
	background-color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #fff), color-stop(50%, #f6f6f6), color-stop(52%, #eee), to(#f4f4f4));
	background: linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
	background-clip: padding-box;
	-webkit-box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
	color: #444;
	text-decoration: none;
	white-space: nowrap;
	line-height: 25px;
	box-sizing: border-box
}

.select-wrap.aui-selectbox .pc_selwrap>div.selOneWrap .aui-selected-one {
	overflow: hidden;
	float: left;
	width: 100%;
	line-height: 24px;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	box-sizing: border-box;
	text-indent: 8px;
}

.select-wrap.aui-selectbox.active.aui-result-active .pc_selwrap>div.selOneWrap {
	border: 1px solid #aaa;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #eee), color-stop(80%, #fff));
	background-image: linear-gradient(#eee 20%, #fff 80%);
	-webkit-box-shadow: 0 1px 0 #fff inset;
	box-shadow: 0 1px 0 #fff inset;
	border-bottom: 1px solid #d4d4d4;
	z-index: 1011;
}


/* //mark: search  */
.search-wrap {
	float: left;
	position: relative;
	width: 387px;
	height: 39px;
	margin: 42px 0;
	padding: 0 40px 0 0;
	border: 2px solid #666;
	border-radius: 50px;
	box-sizing: border-box;
}

.search-wrap.active {
	border-radius: 19px 19px 0 0;
}

.search-wrap .search-auto {
	display: none;
	position: absolute;
	left: 0;
	top: 35px;
	width: 387px;
	margin-left: -2px;
	padding: 10px 20px;
	background: #fff;
	border: 2px solid #666;
	border-radius: 0 0 25px 25px;
	box-sizing: border-box;
	z-index: 2;
}

.search-wrap.active .search-auto li+li {
	margin-top: 5px;
}

.search-wrap.active .search-auto a {
	word-break: break-all;
}

.search-wrap .inp-form {
	display: inline-block;
	width: 100%;
}

.search-wrap .inp-form input {
	width: 100%;
	padding: 10px 10px 10px 20px;
	color: #666;
	background: none;
	border: 0;
	box-sizing: border-box;
}

.inp-form input::placeholder {
	text-align: center;
	color: #999;
}

.search-wrap .inp-form input:-ms-input-placeholder {
	text-align: center;
}

.search-wrap button {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 35px;
}

.search-wrap button .icn--search {
	display: block;
	width: 24px;
	height: 24px;
	font-size: 0;
	line-height: 0;
	background: url('../img/icn_ir.png') 0 0 no-repeat;
	background-position: -48px 0;
}

.search-wrap button:focus .icn--search,
.search-wrap button:active .icn--search,
.search-wrap button .icn--search.active {
	background: url('../img/icn_ir.png') 0 0 no-repeat;
	background-position: -72px 0;
}

/* //mark: modal */
.laypop {
	display: none;
	z-index: 10;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: scroll;
	overflow-x: hidden;
}

.laypop .mask {
	content: "";
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .7;
	z-index: -1;
}

.laypop .wrap-modal {
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	padding: 0 15px;
	top: 0;
	height: 100%;
	letter-spacing: -2px;
	color: #222;
}

.laypop .wrap-modal .inner {
	overflow: hidden;
	position: relative;
	top: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border-radius: 5px;
	background: #fff;
}

.laypop.trans-ms .wrap-modal .inner {
	transition: all ease-in-out .5s;
	top: -100%;
}

.laypop.trans-ms.on .wrap-modal .inner {
	top: 0;
}

.laypop.type01 .wrap-modal .inner {
	width: 728px;
	margin: 0 auto
}

.laypop__header h1 {
	padding: 24px;
	text-align: center;
	font-size: 18px;
	border-bottom: 1px solid #eee;
}

.laypop__content {
	overflow: auto;
	height: 50vh;
	margin-top: 14px;
	padding: 0 14px 14px;
	border-bottom: 1px solid #eee;
}

.laypop__content .scrollWrap {
	height: 100%;
}

.laypop__content .scrollview {
	line-height: 1.6
}

.laypop_footer {
	padding: 14px;
}

/* //mark : float gnb */
/* .dim_bg { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: black; opacity: 0.7; z-index: 2;}
.dim_bg.show { display: block; } */
.float-gnb {}

.float-gnb .sub-menu {
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
	width: 50px;
	height: 50px;
	background: #3d71de;
	color: white;
	opacity: 0;
	cursor: pointer;
	transition: all 0.2s ease 0.1s
}

.float-gnb .sub-menu:last-child {
	width: 55px;
	height: 55px;
	margin-left: 50px;
	opacity: 1;
	box-shadow: 0 2px 7px 2px rgba(29, 64, 136, 0.5)
}

.float-gnb .sub-menu.show {
	opacity: 1;
}

.float-gnb .sub-menu:nth-child(1).show {
	background: #fff;
	animation: float-c1 .2s cubic-bezier(.75, -0.5, 0, 1.75) forwards;
}

.float-gnb .sub-menu:nth-child(2).show {
	background: #fff;
	animation: float-c2 .2s cubic-bezier(.75, -0.5, 0, 1.75) forwards;
}

.float-gnb .sub-menu:nth-child(3).show {
	background: #fff;
	animation: float-c3 .2s cubic-bezier(.75, -0.5, 0, 1.75) forwards;
}

.float-gnb .sub-menu:nth-child(1) {
	animation: float-c1-r .2s ease-out forwards;
}

.float-gnb .sub-menu:nth-child(2) {
	animation: float-c2-r .2s ease-out forwards;
}

.float-gnb .sub-menu:nth-child(3) {
	animation: float-c3-r .2s ease-out forwards;
}

.float-gnb .sub-menu {
	border-radius: 50%
}

.float-gnb .sub-menu>a {
	line-height: 50px;
	text-align: center;
}

.float-gnb .sub-menu.call.active {
	transform: rotate(135deg)
}

.float-gnb .sub-menu.call>span {
	display: inline-block;
	width: 13px;
	height: 13px;
	text-align: center;
	line-height: 55px;
	background: url('../img/icn_float.png') -7px -59px no-repeat;
	background-size: 155px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@keyframes float-c1 {
	0% {
		top: 0;
	}

	100% {
		top: -80px;
		right: 5px
	}
}

@keyframes float-c2 {
	0% {
		top: 0;
	}

	100% {
		top: -55px;
		right: 60px;
	}
}

@keyframes float-c3 {
	0% {
		top: 0;
	}

	100% {
		top: 0;
		right: 85px;
	}
}

@keyframes float-c1-r {
	0% {
		top: -80px;
		right: 5px
	}

	100% {
		top: 0px;
		right: 0;
	}
}

@keyframes float-c2-r {
	0% {
		top: -55px;
		right: 60px;
	}

	100% {
		top: 0px;
		right: 0;
	}
}

@keyframes float-c3-r {
	0% {
		top: 0;
		right: 85px;
	}

	100% {
		top: 0;
		right: 0;
	}
}

/* //mark: gnb */
.mo__submenu-wrap {
	width: 100%;
	overflow-x: auto;
	padding: 5px 12px;
	border: 1px solid #eee;
	box-sizing: border-box;
}

.mo__submenu-wrap ul {
	position: relative;
	display: inline-block;
	white-space: nowrap;
}

.mo__submenu-wrap li {
	position: relative;
	display: inline-block;
	padding: 5px;
	line-height: 1
}

.mo__submenu-wrap li.active {
	border-bottom: 2px solid #d35400;
}

.mo__submenu-wrap li:after {
	content: '';
	position: absolute;
	top: 50%;
	right: -2px;
	font-size: 10px;
	transform: translateY(-50%);
	width: 1px;
	height: 10px;
	background: #cdcdcd
}

.mo__submenu-wrap li:last-child:after {
	display: none;
}

/* //mark:  2depth gnb */
[class^='menu2depth'] {
	width: 100%;
	box-sizing: border-box;
}

[class^='menu2depth']>li {
	position: relative;
	text-align: center;
}

[class^='menu2depth']>li>a {
	display: block;
	position: relative;
	padding: 0;
	line-height: 35px
}

[class^='menu2depth']>li>a span {
	display: block;
	position: relative;
	color: #333;
	font-size: 18px;
}

[class^='menu2depth']>li>a:focus span,
[class^='menu2depth']>li>a:hover span {
	position: relative;
	color:#228af1;
}

[class^='menu2depth']>li>a span:after {

}

[class^='menu2depth']>li.active>a span:after {
	opacity: 1;
	transform: scaleX(1);
}

[class^='menu2depth']>li.cs a:after,
[class^='menu2depth']>li:first-child a span:after,
[class^='menu2depth']>li:last-child a span:after {
	display: none;
}

[class^='menu2depth']>li a:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	width: 1px;
	height: 16px;
	background: #fff;
	opacity: .3;
}

[class^='menu2depth']>li ul {
	display: none;
	position: absolute;
	padding: 19px 0 27px;
	left: 0;
	right: 0;
	z-index: 10;
}

[class^='menu2depth']>li.active ul {
	display: block;
}

[class^='menu2depth']>li ul a {
	display: inline-block;
	font-size: 18px;
	color: #333;
}

[class^='menu2depth']>li ul a:focus,
[class^='menu2depth']>li ul a:hover {
	color: #228af1;
}

.menu2depth--allsub { position: relative; }
.menu2depth--allsub>li ul {
	overflow: hidden;
	display: block;
	height: 0;
	padding: 0;
	box-shadow: none;
	/* transition: all .2s ease-out; */
}
.menu2depth--allsub>li ul:after {

}
.menu2depth--allsub>li:last-child ul:after{display: none;}
.menu2depth--allsub.active:after {
	content:'';
	display:block;
	position: fixed;
	top:109px;
	left: 0;
	right: 0;
	height:0;
	background: rgba(255,255,255,.9);
	border-top:1px solid #bebebe;
	z-index: 1;
}
.menu2depth--allsub.active:after {
	height: 190px;
}

.menu2depth--allsub.active>li ul { height: auto; padding: 28px 0 0 }


/* //mark:  top버튼 */
.aui-scrlTop {
	display: none;
	width: 39px;
	height: 38px;
	position: fixed;
	bottom: 50px;
	background: url('../img/icn_ir.png') 0 0 no-repeat;
	background-position: -43px -83px;
	z-index: 9999;
}

/* //mark:  board */
.board-list {
	padding: 0;
	border-top: 2px solid #222;
	box-sizing: border-box;
}

.board-list li {
	padding: 18px 20px;
	font-size: 0;
	box-sizing: border-box;
	border-bottom: 1px solid #d9d9d9;
}

.board-list li .tit01 {
	display: inline-block;
	width: 9%;
	text-align: center;
}

.board-list li .tit02 {
	display: inline-block;
	width: 17%;
	text-align: center;
}

.board-list li .tit03 {
	display: inline-block;
	width: 74%;
	text-align: center;
}

.board-list li p {
	display: inline-block;
	width: 74%;
	font-size: 14px;
	padding: 0 0 0 28px;
	box-sizing: border-box;
	line-height: 1.5;
}

.board-list li p a {
	color: #666;
	font-weight: 500;
}

.board-list li span {
	font-size: 14px;
	color: #666;
	font-weight: 500;
}

.board-list li span.date {
	position: relative;
	padding-left: 0;
}

.board-list li span.date::before {
	display: none;
}

.table-list {
	width: 100%;
	border: 1px solid #333;
	border-right: 0;
	border-left: 0;
}

.table-list thead th {
	padding: 10px 0;
	border-bottom: 1px solid #999;
	font-weight: 700;
}

.table-list tbody td {
	padding: 10px 0;
	border-bottom: 1px solid #999;
	text-align: center;
}

@media screen and (max-width:960px) {
	.board-list {
		padding: 0 16px
	}

	.board-list li {
		padding: 14px 0;
	}

	.board-list li.board-tit {
		display: none;
	}

	.board-list li [class^=tit] {
		display: inline;
	}

	.board-list li span.date {
		position: relative;
		padding-left: 14px;
	}

	.board-list li span.date::before {
		display: block !important;
		content: '';
		position: absolute;
		width: 1px;
		height: 15px;
		background-color: #222;
		top: 2px;
		left: 6px;
	}

	.board-list li p {
		display: block;
		padding: 10px 0 0 0;
		line-height: 1.5;
		font-size: 16px;
	}
}

/* //mark:  paging */
.pagewrap {
	display: block;
	width: 100%;
	margin: 30px 0 0;
	text-align: center;
}

.pagination {
	display: inline-block;
}

.pagination a {
	overflow: hidden;
	position: relative;
	float: left;
	margin-right: 10px;
	width: 32px;
	height: 32px;
	line-height: 32px;
	color: #919191;
	background-color: #fff;
	font-size: 14px;
	border-radius: 6px;


}

.pagination a:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 1px solid #919191;
	border-radius: 6px;

}

.pagination .prev:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 8px;
	height: 12px;
	background: url('../img/page_prev.png') 0 0 no-repeat;
	transform: translate(-35%, -50%);
}

.pagination .next:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 8px;
	height: 12px;
	background: url('../img/page_next.png') 0 0 no-repeat;
	transform: translate(-35%, -50%);
}
.pagination .pprev:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 13px;
	height: 12px;
	background: url('../img/page_pprev.png') 0 0 no-repeat;
	transform: translate(-35%, -50%);
}

.pagination .nnext:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 13px;
	height: 12px;
	background: url('../img/page_nnext.png') 0 0 no-repeat;
	transform: translate(-35%, -50%);
}

.pagination a:last-child:after {
}

.pagination a:hover,
.pagination a:focus,
.pagination a.active {
	color: #fff;
	background: #fc725c;

}

.pagination a:hover:after,
.pagination a:focus:after,
.pagination a.active:after {
	right: -1px;
	color: #fff;
	border: 1px solid #fc725c;
	z-index: 1;
}



/* //mark:  tooltip */
.aui-tooltipbox a {
	display: inline-block;
	padding: 10px 15px;
	background: #450e4c;
	border-radius: 5px;
	color: #fff;
	font-size: 12px;
}

.tooltipContent {
	display: none;
	position: absolute;
	padding: 10px;
	background-color: #ffc8a2;
	border-radius: 5px;
	font-size: 12px;
	text-align: left;
	z-index: 9999;
}

.tooltipContent::after {
	content: '';
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
}

.right.tooltipContent::after {
	top: 18px;
	left: -7px;
	border-color: transparent #ffc8a2;
	border-width: 10px 10px 10px 0;
}

.left.tooltipContent::after {
	top: 18px;
	right: -7px;
	border-color: transparent #ffc8a2;
	border-width: 10px 0 10px 10px;
}

.top.tooltipContent::after {
	bottom: -7px;
	left: 54px;
	border-color: #ffc8a2 transparent;
	border-width: 7px 7px 0;
}

.bottom.tooltipContent::after {
	top: -7px;
	left: 54px;
	border-color: #ffc8a2 transparent;
	border-width: 0 7px 7px;
}


/* //mark:  scroll */
.aui-scrollview {
	overflow: hidden;
	position: relative;
	height: 100%;
}

.aui-scrollview:hover .aui-scrollbar {
	opacity: 1;
}

.aui-scrollarea {
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	left: 0;
}

/* 스크롤바 크기 만큼 + padding-right */
.aui-content {
	padding-right: 15px;
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}

.aui-content::-webkit-scrollbar {
	display: none;
}

.aui-scrollbar {
	opacity: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	background: #eee;
	height: 100%;
	width: 5px;
	border-radius: 5px;
	transition: all .5s linear;
}

.aui-scrollbar .bar {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: #888;
	width: 100%;
	border-radius: 5px;
	z-index: 1;
	/* cursor: pointer; */
}

.aui-scrollbar .bar:hover {
	background: #555
}

.scrollview {
	line-height: 1.6
}

html.mobile .aui-scrollview {
	overflow-y: auto;
}

html.mobile .aui-scrollbar {
	display: none;
}

html.mobile .aui-scrollarea {
	position: relative;
	overflow: unset;
}

html.mobile .aui-content {
	overflow: unset;
	padding: 0;
}


/* //mark:  어코디언 */
.aui-accordian.sub-accord {
	padding: 10px;
}

.aui-accordian h3.acco-btn {
	padding: 0;
	margin: 0;
}

.aui-accordian h3.acco-btn .aui-btn-acco {
	display: block;
	width: 100%;
	padding: 10px;
	text-align: left;
	border-bottom: 0;
	font-size: 16px;
	font-weight: bold;
	position: relative;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	color: #333;
}

.aui-accordian h3.acco-btn .aui-btn-acco:after {
	content: "\f107";
	position: absolute;
	z-index: 1111;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
}

.aui-accordian li.active .aui-btn-acco:after {
	content: "\f106";
	position: absolute;
	z-index: 1111;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
}

.aui-accordian .aui-acco-ct {
	overflow: hidden;
	height: 0px;
}

.aui-accordian .acco-ct {
	display: block;
	width: 100%;
	padding: 10px;
	border-bottom: 0;
	border-top: 0;
	background: #e1e1e1;
	box-sizing: border-box;
}

.aui-accordian li {
	border: 1px solid #c0c0c0;
	border-bottom: 0;
	box-sizing: border-box;
}

.aui-accordian li:last-child {
	border-bottom: 1px solid #c0c0c0
}

.aui-accordian li.active {
	border: 1px solid red;
	border-bottom: 0;
}

.aui-accordian li.active>.aui-acco-ct {
	height: auto;
}

.aui-accordian li.active+li {
	border-top: 1px solid red;
}

.aui-accordian li.active:last-child {
	border-bottom: 1px solid red
}

.aui-accordian li:hover {
	border-color: #333;
	border-top: 1px solid #333 !important
}

.aui-accordian li:hover+li {
	border-top: 1px solid #333
}

.aui-accordian li:last-child:hover {
	border-bottom: 1px solid #333
}



/* //mark:  슬라이더 */
.sliderWrap div.hslider {
	position: relative;
	padding: 0;
	width: 100%;
	height: 20px;
	background-color: #e7e7e7;
	border: 1px solid black;
}

.sliderWrap .hsliderHandle {
	margin: 0;
	padding: 7px 2px;
	width: 24px;
	height: 12px;
	background-color: #808080;
	position: absolute;
	left: -300em;
	top: -30em;
	z-index: 1;
	border: 1px solid black;
}

.sliderWrap .hsliderValue {
	margin: 24px 0 0 -50px;
	padding: 5px;
	width: 100px;
	height: 24px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	left: -30em;
	top: -30em;
	z-index: 1;
	box-sizing: border-box
}

.sliderWrap div.vslider {
	position: relative;
	margin: 0 auto;
	padding: 0;
	height: 240px;
	width: 20px;
	background-color: #e7e7e7;
	border: 1px solid black;
}

.sliderWrap .vsliderHandle {
	margin: 0;
	padding: 2px 7px;
	width: 12px;
	height: 24px;
	background-color: #808080;
	position: absolute;
	left: -300em;
	top: -30em;
	z-index: 1;
	border: 1px solid black;
}

.sliderWrap .vsliderValue {
	margin: 0 0 0 30px;
	padding: 5px;
	width: 100px;
	height: 24px;
	text-align: left;
	font-weight: bold;
	position: absolute;
	left: -30em;
	top: -30em;
	z-index: 1;
	box-sizing: border-box
}

.sliderWrap div.sliderRange {
	padding: 0;
	width: 1px;
	height: 1px;
	background-color: #939393;
	position: absolute;
	left: -300em;
	top: -30em;
	z-index: 0;
}

.sliderWrap .focus {
	background-color: #eee !important;
}


/* //mark: table */
.scroll-table {
	width: 100%;
	margin-top: 20px;
	position: relative;
	padding-top: 40px;
	border: 1px solid #d4d4d4;
}

.scroll-table div {
	max-height: 300px;
	overflow: auto;
	overflow-x: hidden;
}

.scroll-table table {
	width: 100%;
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;
}

.scroll-table table thead tr {
	position: absolute;
	top: 0;
}

.scroll-table table thead tr th {
	padding: 16px;
	font-weight: normal;
	background: #eee;
}

.scroll-table table thead tr th:first-child {
	width: 25%;
	font-weight: bold;
}

.scroll-table table td {
	height: 40px;
	text-align: center;
	color: #2a4383;
	vertical-align: middle;
}

.scroll-table table td:first-child {
	width: 25%;
	font-weight: bold;
}

.scroll-table table tr {
	width: 100%;
	display: inline-table;
	table-layout: fixed;
}

.scroll-table table tr td {
	padding: 10px;
	border-top: 1px solid #d4d4d4;
}

.scroll-table table tr.even td {
	background: #eef3f8;
}

.board_list table {
	width: 100%;
	font-size: 14px;
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
}

.board_list table thead th {
	padding: 17px 0 15px;
	color: #333;
	background: #f9f9f9;
	border-bottom: 1px solid #e8e8e8;
}

.board_list table tbody tr.noti {
	font-weight: bold;
}

.board_list table tbody tr:last-child td {
	border-bottom: 0;
}

.board_list table tbody td {
	padding: 17px 0 15px;
	text-align: center;
	border-bottom: 1px solid #e8e8e8;
	color: #666;
	vertical-align: middle;
	line-height: 1.6;
}

/* //mark : list */
.ul_list {
	width: 100%;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
}

.ul_list li {
	width: 100%;
	padding: 10px;
	border-bottom: 1px solid #666;
	box-sizing: border-box;
}

.ul_list li:last-child {
	border-bottom: 0;
}


/* //mark:  swipe */
.aui-swipe-wrap {
	overflow-x: hidden;
}

.aui-swipe-wrap .container {
	position: relative;
	width: 100%;
	height: 100px;
}

.aui-swipe-wrap .container [data-item] {
	float: left;
	height: 100%;
	/* pointer-events: none; */
}

.aui-swipe-wrap .aui-bullet .active {
	color: red;
}

/* //mark: slick */
.slick_wrap {
	width: 90%;
	margin: 0 auto;
}

/* //mark : tab-list */
.aui-tabList {
	position: relative;
}

.aui-tabList ul {
	position: relative;
	font-size: 0;
}

.aui-tabList ul li {
	display: inline-block;
	margin: 0 5%;
	transition: ease all .5s;
}

.aui-tabList ul li a {
	display: block;
	width: 100%;
	height: 90px;
	line-height: 90px;
	font-size: 16px;
	color: #000;
	font-weight: 500;
	font-family: 'jost', sans-serif;
}

.floatBar {
	position: absolute;
	bottom: 0;
	height: 2px;
	background-color: #228af1;
	transition: all ease .5s;
}

.aui-tabAnchor.fixed-on {
	position: fixed;
	top: 0;
	padding-top: 0;
	z-index: 2;
}

/* //mark : scrollMenu  */
.scrollMenu {
	overflow: hidden;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 60px;
	padding-left: 320px;
	background: #d35400;
	color: #fff;
	line-height: 60px;
	text-align: center;
	box-sizing: border-box;
	transition: all 0.1s linear;
}

.is-hidden .scrollMenu {
	margin-bottom: -60px;
}

/* //mark : parallax  */
.aui-parallax {}

/* .aui-parallax.container {display: flex;  display: -webkit-box; display: -webkit-flex; display: -ms-flexbox;  -webkit-align-content: center; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; height: 100%; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; position: relative; width: 100%; } */
.aui-parallax.container {
	height: 100%;
	position: relative;
	width: 100%;
}

/* .aui-parallax.container section { width: 100%; height: 100vh; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; text-align: center; position: relative; overflow: hidden; background-color: #000; } */
.aui-parallax.container section {
	width: 100%;
	height: 100vh;
	text-align: center;
	position: relative;
	overflow: hidden;
	background-color: #000;
}

.aui-parallax.container section:nth-child(1) .image {
	background-color: red;
}

.aui-parallax.container section:nth-child(2) .image {
	background-color: blue;
}

.aui-parallax.container section:nth-child(3) .image {
	background-color: cyan;
}

.aui-parallax.container section:nth-child(4) .image {
	background-color: mediumseagreen;
}

.aui-parallax.container section:nth-child(5) .image {
	background-color: mediumorchid;
}

.aui-parallax.container section:nth-child(6) .image {
	background-color: yellow;
}

.aui-parallax.container section .image {
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 500;
	opacity: 0.4;
}

/* .aui-parallax.container section .stuff { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; height: 100%; width: 100%; max-width: 70%; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; text-align: center; z-index: 1000; color: #e67e22; margin: 0 auto; font-size: 26px; position: relative; } */
.aui-parallax.container section .stuff {
	height: 100%;
	width: 100%;
	max-width: 70%;
	text-align: center;
	z-index: 1000;
	color: #e67e22;
	margin: 0 auto;
	font-size: 26px;
	position: relative;
}

.aui-parallax.container section .stuff h2 {
	margin: 0px;
}

.aui-parallax.container section .stuff:before,
.aui-parallax.container section .stuff:after {
	width: 100%;
	height: 1px;
	display: block;
	background-color: #d35400;
	content: "";
	margin: 30px 0;
}

/* //mark: step */
.steparea {
	position: relative;
	margin: 0 0 22px;
	padding: 0 120px 0 0;
}

.steparea:before {
	display: inline-block;
	content: '스텝';
	position: absolute;
	top: 0;
	left: 10px;
	width: 1px;
	height: 1px;
	font-size: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.steparea [class^=step_] {
	display: inline-block;
	position: absolute;
	top: 50%;
	right: 10px;
	height: 18px;
	margin-top: -9px;
	background-image: url(../img/bg_step.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 102px 126px;
	overflow: hidden;
}

.steparea [class^=step_]:before {
	display: inline-block;
	content: '';
	position: absolute;
	top: 0;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #fc756b;
	color: #fff;
	font-size: 0.75rem;
	font-weight: 700;
	line-height: 18px;
	text-align: center;
	overflow: hidden;
}

.steparea [class^=step_2] {
	width: 32px;
}

.steparea [class^=step_3] {
	width: 46px;
}

.steparea [class^=step_4] {
	width: 60px;
}

.steparea [class^=step_5] {
	width: 74px;
}

.steparea [class^=step_6] {
	width: 88px;
}

.steparea [class^=step_7] {
	width: 102px;
}

.steparea [class$=_1] {
	background-position: 0 0;
}

.steparea [class$=_2] {
	background-position: 0 -18px;
}

.steparea [class$=_3] {
	background-position: 0 -36px;
}

.steparea [class$=_4] {
	background-position: 0 -54px;
}

.steparea [class$=_5] {
	background-position: 0 -72px;
}

.steparea [class$=_6] {
	background-position: 0 -90px;
}

.steparea [class$=_7] {
	background-position: 0 -108px;
}

.steparea [class$=_1]:before {
	content: '1';
	left: 0;
}

.steparea [class$=_2]:before {
	content: '2';
	left: 14px;
}

.steparea [class$=_3]:before {
	content: '3';
	left: 28px;
}

.steparea [class$=_4]:before {
	content: '4';
	left: 42px;
}

.steparea [class$=_5]:before {
	content: '5';
	left: 56px;
}

.steparea [class$=_6]:before {
	content: '6';
	left: 70px;
}

.steparea [class$=_7]:before {
	content: '7';
	left: 84px;
}

.steparea--v2 {
	position: relative;
}

.steparea--v2:before {
	display: inline-block;
	content: '스텝';
	position: absolute;
	top: 0;
	left: 10px;
	width: 1px;
	height: 1px;
	font-size: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.steparea--v2 .step-wrap {
	display: inline-block;
	position: absolute;
	top: 50%;
	right: 10px;
	height: 18px;
}

.steparea--v2 .step-wrap>span {
	float: left;
	width: 5px;
	height: 5px;
	margin: 0 5px 0 4px;
	background: #bbb;
	border-radius: 50%;
	font-size: 0;
}

.steparea--v2 .step-wrap>span:first-child {
	margin-left: 0
}

.steparea--v2 .step-wrap>span:last-child {
	margin-right: 0
}

.steparea--v2 .step-wrap>span.active {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #fc756b;
	font-size: 12px;
	color: #fff;
	margin-top: -7px;
	text-align: center;
	line-height: 18px;
}

/* //mark: fileAttach */
.addfiles>ul.list {
	margin-top: 10px;
}

.addfiles>ul.list>li {
	padding: 10px 0px;
}

.addfiles>ul.list>li>.dt {
	font-size: 13px;
	padding-bottom: 12px;
	display: inline-block;
}

.aui-addFile {
	position: relative;
	display: inline-block;
	width: 100%;
	overflow: hidden;
	vertical-align: middle;
	line-height: 23px;
	padding-right: 146px;
	box-sizing: border-box;
}

.aui-addFile .file {
	width: 100%;
	position: relative;
	display: block;
}

.aui-addFile .file button.delete {
	display: none;
	position: absolute;
	width: 16px;
	height: 16px;
	top: 18px;
	right: 17px;
	background: url('../img/adm/icn_ir.png') 0 0 no-repeat;
	background-position: -353px -61px;
	font-size: 0px;
}

.aui-addFile.on .file button.delete {
	display: block;
	cursor: pointer;
}

.aui-addFile .file .loc {
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	width: 100%;
	height: 52px;
	padding: 0 35px 0 15px;
	line-height: 50px;
	color: #666;
	font-size: 16px;
	background: #fafafa;
	border: 1px solid #e8e8e8;
	box-sizing: border-box;
	outline: none;
}

.aui-addFile .btnAttach {
	position: absolute;
	right: 0px;
	top: 0px;
}

.aui-addFile .btnAttach {
	width: 80px;
	display: inline-block;
	position: absolute;
	min-width: 136px;
	height: 52px;
	padding: 0;
	font-size: 16px;
	/* font-weight: bold; */
	line-height: 0;
	box-sizing: border-box;
	color: #fff;
	background-color: #385dae;
	border-radius: 2px;
	text-align: center;
	vertical-align: middle;
	letter-spacing: 0;
}

.aui-addFile .btnAttach .fileButton {
	width: 100%;
	font-size: 18px;
	line-height: 51px;
}

.aui-addFile .btnAttach .bt {}

.aui-addFile .btnAttach .fileInput {
	font-size: 100px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 100%;
	height: 52px;
	top: 0px;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
	padding: 0px !important;
	border: none;
}

/* //mark: aui-star rating */
.aui-star .rating-group {
	/* display: inline-flex; */
	font-size: 0;
}

.aui-star .star {
	display: block;
	width: 14px;
	height: 14px;
	background: url('../img/icn_ir.png') -144px -32px no-repeat;
}

.aui-star .star-half {
	display: block;
	width: 7px;
	height: 14px;
	background: url('../img/icn_ir.png') -144px -32px no-repeat;
}

.aui-star .star:before {
	content: '';
	display: block;
	width: 14px;
	height: 14px;
	background: url('../img/icn_ir.png') -218px -32px no-repeat;
	opacity: 0;
	transition: all .3s ease;
}

.aui-star .star-half:before {
	content: '';
	display: block;
	width: 7px;
	height: 14px;
	background: url('../img/icn_ir.png') -218px -32px no-repeat;
	opacity: 0;
	transition: all .3s ease;
}


.aui-star .rating__icon {
	pointer-events: none;
}

.aui-star .rating__label {
	display: inline-block;
	/* 별 이미지 사이즈 높이 */
	height: 14px;
	/* if you change the left/right padding, update the margin-right property of .rating__label--half as well. */
	padding: 0 10px;
	cursor: pointer;
}

.aui-star .rating__label--half {
	position: absolute;
	z-index: 2;
	padding-right: 0;
	/* 별 간격 + 별가로값/2 */
	margin-right: -17px;
}

.aui-star .rating__icon--star:before {
	opacity: 1;
}

.aui-star .rating__icon-[class*=--no]ne:before {
	opacity: 0;

}

.aui-star .rating__input:checked~.rating__label .rating__icon--star:before {
	opacity: 0;

}

.aui-star .rating-group:hover .rating__label .rating__icon--star:before,
.aui-star .rating-group:hover .rating__label--half .rating__icon--star:before {
	opacity: 1;

}

.aui-star .rating__input:hover~.rating__label .rating__icon--star:before,
.aui-star .rating__input:hover~.rating__label--half .rating__icon--star:before {
	opacity: 0;
}

/* ie9 용 */
.star-rating {
	overflow: hidden;
	display: inline-block;
}

.star-rating .form-item {
	float: left;
	position: relative;
}

.star-rating .form-item label {
	float: right;
	cursor: pointer;
	background: url('../img/icn_ir.png') -144px -32px no-repeat;
}

.star-rating .form-item label::before {
	content: '';
	display: block;
	cursor: pointer;
	width: 14px;
	height: 14px;
	background: url('../img/icn_ir.png') -218px -32px no-repeat;
	opacity: 0;
	transition: all .3s ease;
}

.star-rating .form-item:not(old)>label:hover::before,
.star-rating .form-item:not(old)>label:hover~label::before,
.star-rating .form-item:not(:hover)> :checked~label::before {
	opacity: 1;
}

/* //mark: sortable */
.aui-sort {
	counter-reset: slides;
}

.aui-sort .slide {
	background-color: #2f2f2f;
	margin: 0 0 15px;
	text-align: center;
	color: #FFF;
}

.aui-sort .slide .num {
	position: relative;
	float: left;
	transform: translate(10px, 10px);
}

.aui-sort .slide .tit {
	display: inline-block;
	padding: 15px 0;
}

.aui-sort .slide .num:after {
	display: block;
	counter-increment: slides;
	content: counter(slides);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #007bff;
	line-height: 20px;
	font-size: 14px;
}

.aui-sort .slide-placeholder {
	background: #fff;
	position: relative;
}

.aui-sort .slide-placeholder:after {
	content: " ";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 15px;
	background-color: #FFF;
}

/* //mark: date picker */
.aui-calender {
	position: relative;
	width: 250px;
}

.aui-calender-controller button {
	position: absolute;
	box-sizing: border-box;
	padding: 0;
	width: 30px;
	height: 30px;
	border: 0;
	background-color: transparent;
}

.aui-calender-controller button:nth-child(1) {
	top: 0;
	left: 0;
}

.aui-calender-controller button:nth-child(2) {
	top: 0;
	left: 30px;
}

.aui-calender-controller button:nth-child(3) {
	top: 0;
	right: 30px;
}

.aui-calender-controller button:nth-child(4) {
	top: 0;
	right: 0;
}

.aui-calender-table {
	width: 100%;
	border-collapse: collapse;
	border: 0.10px solid rgb(225, 225, 225);
}

.aui-calender-table caption {
	height: 30px;
	background-color: rgb(245, 245, 245);
	line-height: 30px;
}

.aui-calender-table th {
	box-sizing: border-box;
	padding: 0;
	width: 30px;
	height: 30px;
}

.aui-calender-table th:first-child{
  color: rgb(255, 0, 0);
}
.aui-calender-table th:last-child {
	color: rgb(0, 0, 255);
}

.aui-calender-table td {
	box-sizing: border-box;
	padding: 0;
	width: 30px;
	height: 30px;
	border: 1px solid rgb(225, 225, 225);
}

.aui-calender-table td:first-child button{
	color: rgb(255, 0, 0);
}
.aui-calender-table td:last-child button {
	color: rgb(0, 0, 255);
}

.aui-calender-table td button {
	display: inline-block;
	box-sizing: border-box;
	padding: 0;
	width: 100%;
	height: 100%;
	border: 0;
	background-color: transparent;
	font-size: 16px;
}