@charset "utf-8";


/* //mark: snippet */
html.fixed {
	overflow-y: hidden;
}

.w100 {
	width: 100%
}

.hidden {
	/* 접근성 block context */
	overflow: hidden;
	border: 0;
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
}

.hidden-inline {
	/* 접근성 inline context */
	overflow: hidden;
	display: inline-block;
	border: 0;
	margin: -1px;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
}

.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.clearfix{zoom:1}

/* //mark: 공통(form,select) */
input[type=search],
input[type=password],
input[type=text] {
	font-weight: 300;
	font-size: 13px;
}

.inp-form {
	position: relative;
	box-sizing: border-box
}

.aui-hasDelForm>input {
	padding-right: 30px;
}

input[type=text]+.aui-deltxt {
	display: inline-block;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 50%;
	right: 10px;
	padding: 0 8px;
	transform: translateY(-50%);
	background: url('../img/icn_ir.png') 0 0 no-repeat;
	background-position: -100px -4px;
	z-index: 10;
}

input[type=text]+.aui-deltxt.hidden {
	display: none;
}

.inp-wrap input {
	width: 100%;
	height: 42px;
	padding: 0 0 0 15px;
	line-height: 42px;
	color: #9e9e9e;
	font-size: 14px;
	background: #fff;
	border: 1px solid #ddd;
	box-sizing: border-box;
	outline: none;
}

.inp-wrap input:focus {
	border-color: #228af1;
}

.inp-wrap input::placeholder {
	color: #d2d2d2;
}

.inp-wrap input:-ms-input-placeholder {
	color: #d2d2d2;
}

.inp-wrap {
	display: inline-block;
	width: 100%;
	padding: 0;
	position: relative;
	box-sizing: border-box;
}

.inp-wrap.row-2 span {
	float: left;
	width: 50%;
	padding-right: 5px;
	box-sizing: border-box;
}

.inp-wrap.row-2 span:last-child {
	padding-left: 5px;
	padding-right: 0;
}

.inp-wrap.has-btn {
	padding: 0 146px 0 0;
}

.inp-wrap.has-btn>button {
	position: absolute;
	top: 0;
	right: 0;
}

.inp-wrap .label-name {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	display: table;
}

.inp-wrap .label-name>span {
	display: table-cell;
	vertical-align: middle;
}

.inp-wrap .label-name+span {
	display: block;
	padding-left: 150px;
}

.inp-btn {
	display: inline-block;
	vertical-align: top;
	position: absolute;
	top: 0;
	right: 0;
}

.inp-wrap.lable-ani {
	overflow: hidden;
}

.inp-wrap.lable-ani .label-name {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	pointer-events: none;
	border-bottom: 1px solid #333;
}

.inp-wrap.lable-ani .label-name:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100%;
	height: 100%;
	border-bottom: 3px solid #f00;
	transform: translateX(-100%);
}

.inp-wrap.lable-ani input {
	padding-left: 0;
	border-top: 0;
	border-left: 0;
	background: 0;
	line-height: normal;
	border-right: 0;
}

.inp-wrap.lable-ani .content-name {
	position: absolute;
	bottom: 15px;
	left: 0px;
	transition: all .3s ease;
}

.inp-wrap.lable-ani input:focus+.label-name .content-name,
.inp-wrap.lable-ani input:valid+.label-name .content-name {
	transform: translateY(-150%);
	font-size: 14px;
	color: #f00;
}

.inp-wrap.lable-ani input:focus+.label-name::after,
.inp-wrap.lable-ani input:valid+.label-name::after {
	transform: translateX(0%);
	transition: transform .3s ease;
}

/* //mark: buttons */
[class^=btn-wrap] {
	overflow: hidden;
}

[class^=btn-wrap][class*=--row-2]>span {
	float: left;
	width: 50%;
	padding-right: 2.5px;
	box-sizing: border-box;
}

[class^=btn-wrap][class*=--row-2]>span:last-child {
	float: left;
	width: 50%;
	padding: 0 0 0 2.5px;
	box-sizing: border-box;
}

[class^=btn-wrap][class*=--flex] {
	display: flex;
	justify-content: space-between;
}

[class^=btn-wrap][class*=--flex]>button:nth-child(2) {
	margin: 0 5px
}

a[class^=btn],
button[class^=btn] {
	display: inline-block;
	position: relative;
	height: 25px;
	padding: 0;
	font-size: 12px;
	font-weight: bold;
	box-sizing: border-box;
	color: #fff;
	background-color: #417ec7;
	border-radius: 28px;
	text-align: center;
	vertical-align: middle;
	letter-spacing: 0;
}

a[class^=btn]:before{
	content: "";
	display: inline-block;
	height: 100%;
	line-height: 0;
	vertical-align: middle;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
}



/* ie9 버튼 pressed 효과 제거 position 속성 추가 */
a[class^=btn]>span,
button[class^=btn]>span {
	display: inline-block;
	/* position: absolute; */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	line-height: normal;
	padding: 0 20px 0;
	color: #fff
}

a[class^=btn][class*=--free-width],
button[class^=btn][class*=--free-width] {
	min-width: auto;
}

a[class^=btn][class*=--free-width]>span,
button[class^=btn][class*=--free-width]>span {
	position: relative;
}

a[class^=btn][class*=--md],
button[class^=btn][class*=--md] {
	height: 38px;
}

a[class^=btn][class*=--sm],
button[class^=btn][class*=--sm] {
	height: 28px;
}

a[class^=btn][class*=--xs],
button[class^=btn][class*=--xs] {
	height: 22px;
}

a[class^=btn][class*=--md]>span,
button[class^=btn][class*=--md]>span {
	line-height: 38px
}

a[class^=btn][class*=--sm]>span,
button[class^=btn][class*=--sm]>span {
	line-height: 28px;
	font-size: 14px;
}

a[class^=btn][class*=--xs]>span,
button[class^=btn][class*=--xs]>span {
	line-height: 22px;
	font-size: 12px;
}

a[class^=btn][class*=--no],
button[class^=btn][class*=--no] {
	background: #5b5b5b
}

a[class^=btn][class*=--ok]:active,
button[class^=btn][class*=--ok]:active,
a[class^=btn][class*=--ok]:focus,
button[class^=btn][class*=--ok]:focus,
a[class^=btn][class*=--ok]:hover,
button[class^=btn][class*=--ok]:hover {
	background: #771403
}

a[class^=btn][class*=--no]:active,
button[class^=btn][class*=--no]:active,
a[class^=btn][class*=--no]:focus,
button[class^=btn][class*=--no]:focus,
a[class^=btn][class*=--no]:hover,
button[class^=btn][class*=--no]:hover {
	background: #2b2b2b
}

a[class^=btn][class*=--ok]:disabled,
button[class^=btn][class*=--ok]:disabled,
a[class^=btn][class*=--ok]:disabled:active,
button[class^=btn][class*=--ok]:disabled:active,
a[class^=btn]:disabled:hover,
button[class^=btn][class*=--ok]:disabled:hover,
a[class^=btn][class*=disabled],
button[class^=btn][class*=--ok][class*=disabled],
a[class^=btn][class*=disabled]:active,
button[class^=btn][class*=--ok][class*=disabled]:active,
a[class^=btn][class*=disabled]:hover,
button[class^=btn][class*=--ok][class*=disabled]:hover {
	background: #e49c90
}

a[class^=btn][class*=--no]:disabled,
button[class^=btn][class*=--no]:disabled,
a[class^=btn][class*=--no]:disabled:active,
button[class^=btn][class*=--no]:disabled:active,
a[class^=btn][class*=--no]:disabled:hover,
button[class^=btn][class*=--no]:disabled:hover,
a[class^=btn][class*=--no][class*=--disabled],
button[class^=btn][class*=--no][class*=--disabled],
a[class^=btn][class*=--no][class*=--disabled]:active,
button[class^=btn][class*=--no][class*=--disabled]:active,
a[class^=btn][class*=--no][class*=--disabled]:hover,
button[class^=btn][class*=--no][class*=--disabled]:hover {
	background: #b6b6b6
}

a[class^=btn-icn],
button[class^=btn-icn] {
	display: inline-block;
	min-width: auto;
	height: 32px;
	padding: 0;
	border-radius: 2px;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0;
	box-sizing: border-box;
	background-color: transparent;
	border: 0;
}

a[class^=btn-icn]>span,
button[class^=btn-icn]>span {
	padding: 0 23px;
	border-radius: 16px;
	border: solid 1px #000000;
	background-color: #fff;
	font-size: 16px;
	color: #333;
	line-height: 32px;
	font-weight: 500;
}

a[class^=btn-icn]>span>i.fa,
button[class^=btn-icn]>span>i.fa,
a[class^=btn-icn]>span>i.fas,
button[class^=btn-icn]>span>i.fas {
	padding: 0 5px 0 0;
}

a[class^=btn-icn]:active > span,
button[class^=btn-icn]:active > span,
a[class^=btn-icn]:hover > span,
button[class^=btn-icn]:hover  > span{
	border: solid 1px #fff;
	background-color: #228af1;
	color: #fff;
}

a[class^=btn-icn]:disabled,
button[class^=btn-icn]:disabled,
a[class^=btn-icn]:disabled:active,
button[class^=btn-icn]:disabled:active,
a[class^=btn-icn]:disabled:hover,
button[class^=btn-icn]:disabled:hover {
	background-color: #fff;
	border-color: #e9ebef;
}

a[class^=btn-icn]:disabled>span,
button[class^=btn-icn]:disabled>span,
a[class^=btn-icn]:disabled:active>span,
button[class^=btn-icn]:disabled:active>span,
a[class^=btn-icn]:disabled:hover>span,
button[class^=btn-icn]:disabled:hover>span {
	color: #e9ebef;
}

a[class^=btn][class*=--line],
button[class^=btn][class*=--line] {
	border: 1px solid #417ec7;
	background: #fff;
}
a[class^=btn][class*=--line] > span,
button[class^=btn][class*=--line] > span{
	color: #417ec7;
}

a[class^=btn][class*=--line],
button[class^=btn][class*=--line]:focus,
a[class^=btn][class*=--line],
button[class^=btn][class*=--line]:hover {
}

a[class^=btn][class*=--main],
button[class^=btn][class*=--main] {
	height: 42px;
	background: #30a4ee;
}
a[class^=btn][class*=--main] > span,
button[class^=btn][class*=--main] > span{
	padding: 0 33px;
	color: #fff;
	font-size: 18px;
	line-height: 1.5;
}
a[class^=btn][class*=--badge],
button[class^=btn][class*=--badge] {
	height: 30px;
	font-size: 14px;
	background: #30a4ee;
}
a[class^=btn][class*=--outline],
button[class^=btn][class*=--outline] {
	line-height: 36px;
	background-color: #fff;
}
a[class^=btn][class*=--outline] > span,
button[class^=btn][class*=--outline] > span{
	padding-right: 0;
	font-size: 20px;
	color: #30a4ee;
}
a[class^=btn][class*=--main] > span,
button[class^=btn][class*=--main] > span{
	padding: 0 33px;
	color: #fff;
	font-size: 18px;
	line-height: 1.5;
}

a[class^=btn][class*=--main],
button[class^=btn][class*=--main]:focus,
a[class^=btn][class*=--main],
button[class^=btn][class*=--main]:hover {
}


/* //mark: selection controls */
input.form__chk+label {
	position: relative;
	font-size: 28px
}

input.form__chk+label:before {
	transform: translateY(-50%);
	content:
	"";
	position: absolute;
	width: 20px;
	top: 50%;
	left: 0;
	height: 20px;
	border: solid 1px #a5a5a5;
	background-color: #ffffff;
	display: inline-block;
	box-sizing: border-box;
	border-radius: 50%;
}

input.form__chk:checked+label:after {
	content: "";
	position: absolute;
	width: 14px;
	height: 14px;
	background-color: #228af1;
	left: 3px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
}

input.form__chk+label:hover:before,
input.form__radio+label:hover:before {
	color: #333
}


input.form__chk:disabled+label,
input.form__radio:disabled+label {
	opacity: .3;
}

input.form__chk:disabled+label:hover:before,
input.form__radio:disabled+label:hover:before {
	color: #717171;
}

input.form__chk:disabled+label:before:hover,
input.form__radio:disabled+label:before:hover {
	color: #717171
}

input.form__radio+label {
	position: relative;
	font-size: 28px;
	padding-left: 15px;
}

input.form__radio+label:before {
	content: "";
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0;
	border: solid 1px #2990d2;
	background-color: #ffffff;
	display: inline-block;
	box-sizing: border-box;
	border-radius: 50%;
}

input.form__radio:checked+label:after {
	content: "";
	position: absolute;
	width: 14px;
	height: 14px;
	background-color: #fc725c;
	left: 3px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
}

input.form__chk.inp--error+label:before,
input.form__radio.inp--error+label:before {
	color: #ed4b30
}

input.form__chk.inp--error:disabled+label,
input.form__radio.inp--error:disabled+label {
	opacity: 1;
}

input.form__chk.inp--error:disabled+label:before,
input.form__radio.inp--error:disabled+label:before {
	color: #ed4b30
}

input.form__chk:focus+label,
input.form__radio:focus+label {
	outline: -webkit-focus-ring-color auto 1px;
}

input.form__chk__slide+label {
	position: relative;
	display: inline-block;
}

input.form__chk__slide+label:before {
	content: '';
	position: absolute;
	top: 50%;
	display: inline-block;
	width: 28px;
	height: 16px;
	border-radius: 11px;
	border: 1px solid #b9b9b9;
	transition: all ease .3s;
	transform: translateY(-50%);
}

input.form__chk__slide+label:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 2px;
	width: 12px;
	height: 12px;
	background: #adb5bd;
	border-radius: 50%;
	transform: translateY(-50%);
	transition: all ease .3s;
}

input.form__chk__slide:checked+label:before {
	background: #007bff;
	border-color: #007bff;
}

input.form__chk__slide:checked+label:after {
	transform: translate(14px, -50%);
	background: #fff;
}

input.form__chk__slide+label .label-txt {
	padding-left: 35px;
}

input.form__chk__slide:disabled+label:before {
	background: #d5d5d6;
}

.form-grp>span {
	display: inline-block;
	padding: 0 38px 0 0;
	vertical-align: middle;
}

.form-grp>span:last-child {
	padding-right: 0;
}

input+label>.label-txt {
	position: relative;
	top: -2px;
	padding-left: 12px;
	font-size: 14px;
	vertical-align: middle;
}

/* //mark: aui-tab */
ul.aui-tab {
	width: 800px;
    margin: 0 auto 37px;
	display: table;
	border-collapse: collapse;
	box-sizing: border-box;
}

ul.aui-tab li {
	position: relative;
	width: 33.3333%;
	display: table-cell;
}

ul.aui-tab li span {
	display: block;
	width: 100%;
	color: #228af1;
	line-height: 55px;
	text-align: center;
	font-size: 16px;
}

.aui-tab-btn {
	display: block;
	width: 100%;
	padding: 2px;
	box-sizing: border-box;
}

.aui-tab-wrap input+label.aui-tab-btn:before,
.aui-tab-btn:before {
	display: block;
	content: '';
	background: #fff;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: -1;
	border:1px solid #228af1;
}
.aui-tab-wrap input:checked+label.aui-tab-btn,
ul.aui-tab li a.on span{
	color:#fff;
}
.aui-tab-wrap input:checked+label.aui-tab-btn:after,
.aui-tab-btn.on:after {
	content: '';
	display: block;
	position: absolute;
	background:#d86a6a;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index:-1;
}
.aui-tab-wrap.v2 input:checked+label.aui-tab-btn:after,
.aui-tab-wrap.v2 .aui-tab-btn.on:after {
	content: '';
	background:#228af1;
}

.aui-tab-list {
	display: none;
	width: 100%;
	border-top: 0;
	box-sizing: border-box
}

.aui-tab-list.on {
	display: block;
}
.aui-tab-wrap input:focus+label.aui-tab-btn{
	outline: -webkit-focus-ring-color auto 1px;
}

html.mobile .select-wrap {
	position: relative;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	color: #333;
}

html.mobile .select-wrap:after {
	content: "\f107";
	position: absolute;
	z-index: 1111;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
}

html.mobile .form__select {
	-webkit-appearance: none;
	position: relative;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #aaa;
}

.select-wrap.aui-selectbox {
	position: relative;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	color: #333;
}

.select-wrap.aui-selectbox:after {
	content: "\f107";
	position: absolute;
	z-index: 1111;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
}

.select-wrap.aui-selectbox.active.aui-result-active:after {
	content: "\f106";
	position: absolute;
	z-index: 1111;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
}

.select-wrap.aui-selectbox .aui-result-ul {
	display: none;
	position: absolute;
	top: 100%;
	z-index: 1010;
	width: 100%;
	border: 1px solid #aaa;
	border-top: 0;
	background: #fff;
	-webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
	clip: rect(0, 0, 0, 0);
	-webkit-clip-path: inset(100% 100%);
	clip-path: inset(100% 100%);
	box-sizing: border-box
}

.select-wrap.aui-selectbox.active.aui-result-active .aui-result-ul {
	overflow-y: auto;
	display: block;
	max-height: 140px;
	clip: auto;
	-webkit-clip-path: none;
	clip-path: none;
	margin-top: -1px;
	border-radius: 0 0 4px 4px;
	background-clip: padding-box;
	z-index: 1112;
}

.select-wrap.aui-selectbox.active.aui-result-active .aui-result-ul button {
	display: block;
	width: 100%;
	padding: 8px;
	cursor: pointer;
	box-sizing: border-box;
	text-align: left;
}

.select-wrap.aui-selectbox.active.aui-result-active .aui-result-ul button:disabled {
	cursor: default;
}

.select-wrap.aui-selectbox.active.aui-result-active .aui-result-ul button:hover,
.select-wrap.aui-selectbox.active.aui-result-active .aui-result-ul button:focus,
.select-wrap.aui-selectbox.active.aui-result-active .aui-result-ul button:active {
	background: #c1c1c1;
}

.select-wrap.aui-selectbox .pc_selwrap {
	position: relative;
}

.select-wrap.aui-selectbox .pc_selwrap>div.selOneWrap {
	position: relative;
	display: block;
	overflow: hidden;
	height: 25px;
	border: 1px solid #aaa;
	border-radius: 5px;
	background-color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #fff), color-stop(50%, #f6f6f6), color-stop(52%, #eee), to(#f4f4f4));
	background: linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
	background-clip: padding-box;
	-webkit-box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
	color: #444;
	text-decoration: none;
	white-space: nowrap;
	line-height: 25px;
	box-sizing: border-box
}

.select-wrap.aui-selectbox .pc_selwrap>div.selOneWrap .aui-selected-one {
	overflow: hidden;
	float: left;
	width: 100%;
	line-height: 24px;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	box-sizing: border-box;
	text-indent: 8px;
}

.select-wrap.aui-selectbox.active.aui-result-active .pc_selwrap>div.selOneWrap {
	border: 1px solid #aaa;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #eee), color-stop(80%, #fff));
	background-image: linear-gradient(#eee 20%, #fff 80%);
	-webkit-box-shadow: 0 1px 0 #fff inset;
	box-shadow: 0 1px 0 #fff inset;
	border-bottom: 1px solid #d4d4d4;
	z-index: 1011;
}


/* //mark: search  */
.search-wrap {
	float: left;
	position: relative;
	width: 387px;
	height: 39px;
	margin: 42px 0;
	padding: 0 40px 0 0;
	border: 2px solid #666;
	border-radius: 50px;
	box-sizing: border-box;
}

.search-wrap.active {
	border-radius: 19px 19px 0 0;
}

.search-wrap .search-auto {
	display: none;
	position: absolute;
	left: 0;
	top: 35px;
	width: 387px;
	margin-left: -2px;
	padding: 10px 20px;
	background: #fff;
	border: 2px solid #666;
	border-radius: 0 0 25px 25px;
	box-sizing: border-box;
	z-index: 2;
}

.search-wrap.active .search-auto li+li {
	margin-top: 5px;
}

.search-wrap.active .search-auto a {
	word-break: break-all;
}

.search-wrap .inp-form {
	display: inline-block;
	width: 100%;
}

.search-wrap .inp-form input {
	width: 100%;
	padding: 10px 10px 10px 20px;
	color: #666;
	background: none;
	border: 0;
	box-sizing: border-box;
}

.inp-form input::placeholder {
	text-align: center;
	color: #999;
}

.search-wrap .inp-form input:-ms-input-placeholder {
	text-align: center;
}

.search-wrap button {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 35px;
}

.search-wrap button .icn--search {
	display: block;
	width: 24px;
	height: 24px;
	font-size: 0;
	line-height: 0;
	background: url('../img/icn_ir.png') 0 0 no-repeat;
	background-position: -48px 0;
}

.search-wrap button:focus .icn--search,
.search-wrap button:active .icn--search,
.search-wrap button .icn--search.active {
	background: url('../img/icn_ir.png') 0 0 no-repeat;
	background-position: -72px 0;
}

/* //mark: modal */
.laypop {
	display: none;
	z-index: 10;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: scroll;
	overflow-x: hidden;
}

.laypop .mask {
	content: "";
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .7;
	z-index: -1;
}

.laypop .wrap-modal {
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	padding: 0 15px;
	top: 0;
	height: 100%;
	letter-spacing: -2px;
	color: #222;
}

.laypop .wrap-modal .inner {
	overflow: hidden;
	position: relative;
	top: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border-radius: 5px;
	background: #fff;
}

.laypop.trans-ms .wrap-modal .inner {
	transition: all ease-in-out .5s;
	top: -100%;
}

.laypop.trans-ms.on .wrap-modal .inner {
	top: 0;
}

.laypop.type01 .wrap-modal .inner {
	width: 400px;
	margin: 0 auto;
	border-radius: 0;
}

.laypop__header h1 {
	padding: 15px 0 14px;
	text-align: center;
	font-size: 22px;
	background-color: #228af1;
	color: #fff;
}

.laypop__content {
	overflow: auto;
	/* height: 330px; */
	margin: 14px 0 0 0;
	padding: 0 14px 14px;
}

.laypop__content .scrollWrap {
	height: 100%;
}

.laypop__content .scrollview {
	line-height: 1.6
}

.laypop_footer {
	padding: 14px;
}

/* //mark:  2depth gnb */
[class^='menu2depth'] {
	width: 100%;
	box-sizing: border-box;
}

[class^='menu2depth']>li {
	position: relative;
	text-align: center;
}

[class^='menu2depth']>li>a {
	display: block;
	position: relative;
	padding: 0;
	line-height: 35px
}

[class^='menu2depth']>li>a span {
	display: block;
	position: relative;
	color: #333;
	font-size: 18px;
}

[class^='menu2depth']>li>a:focus span,
[class^='menu2depth']>li>a:hover span {
	position: relative;
	color:#228af1;
}

[class^='menu2depth']>li>a span:after {

}

[class^='menu2depth']>li.active>a span:after {
	opacity: 1;
	transform: scaleX(1);
}

[class^='menu2depth']>li.cs a:after,
[class^='menu2depth']>li:first-child a span:after,
[class^='menu2depth']>li:last-child a span:after {
	display: none;
}

[class^='menu2depth']>li a:after {

}

[class^='menu2depth']>li ul {
	display: none;
	position: absolute;
	padding: 19px 0 27px;
	left: 0;
	right: 0;
	z-index: 10;
}

[class^='menu2depth']>li.active ul {
	display: block;
}

[class^='menu2depth']>li ul a {
	display: inline-block;
	font-size: 18px;
	color: #333;
}

[class^='menu2depth']>li ul a.on,
[class^='menu2depth']>li ul a:focus,
[class^='menu2depth']>li ul a:hover {
	color: #228af1;
}

.menu2depth--allsub { position: relative; }
.menu2depth--allsub>li ul {
	overflow: hidden;
	display: block;
	height: 0;
	padding: 0;
	box-shadow: none;
	/* transition: all .2s ease-out; */
}
.menu2depth--allsub>li ul:after {

}
.menu2depth--allsub>li:last-child ul:after{display: none;}
.menu2depth--allsub.active:after {
	content:'';
	display:block;
	position: fixed;
	top:109px;
	left: 0;
	right: 0;
	height:0;
	background: rgba(255,255,255,.9);
	border-top:1px solid #bebebe;
	z-index: 1;
}
.menu2depth--allsub.active:after {
	height: 220px;
}

.menu2depth--allsub.active>li ul { height: auto; padding: 28px 0 0 }


/* //mark:  paging */
.pagewrap {
	display: block;
	width: 100%;
	margin: 30px 0 0;
	text-align: center;
}

.pagination {
	display: inline-block;
}

.pagination a {
	overflow: hidden;
	position: relative;
	float: left;
	margin-right: 10px;
	width: 32px;
	height: 32px;
	line-height: 32px;
	color: #919191;
	background-color: #fff;
	font-size: 14px;
	border-radius: 6px;


}

.pagination a:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 1px solid #919191;
	border-radius: 6px;

}

.pagination .prev:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 8px;
	height: 12px;
	background: url('../img/page_prev.png') 0 0 no-repeat;
	transform: translate(-35%, -50%);
}

.pagination .next:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 8px;
	height: 12px;
	background: url('../img/page_next.png') 0 0 no-repeat;
	transform: translate(-35%, -50%);
}
.pagination .pprev:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 13px;
	height: 12px;
	background: url('../img/page_pprev.png') 0 0 no-repeat;
	transform: translate(-35%, -50%);
}

.pagination .nnext:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 13px;
	height: 12px;
	background: url('../img/page_nnext.png') 0 0 no-repeat;
	transform: translate(-35%, -50%);
}

.pagination a:last-child:after {
}

.pagination a:hover,
.pagination a:focus,
.pagination a.active {
	color: #fff;
	background: #fc725c;

}

.pagination a:hover:after,
.pagination a:focus:after,
.pagination a.active:after {
	right: -1px;
	color: #fff;
	border: 1px solid #fc725c;
	z-index: 1;
}

/* //mark:  scroll */
.aui-scrollview {
	overflow: hidden;
	position: relative;
	height: 100%;
}

.aui-scrollview:hover .aui-scrollbar {
	opacity: 1;
}

.aui-scrollarea {
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	left: 0;
	top: 10px;
	bottom: 10px;
}

/* 스크롤바 크기 만큼 + padding-right */
.aui-content {
	padding-right: 15px;
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}

.aui-content::-webkit-scrollbar {
	display: none;
}

.aui-scrollbar {
	opacity: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	background: #eee;
	height: 100%;
	width: 5px;
	border-radius: 5px;
	transition: all .5s linear;
}

.aui-scrollbar .bar {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: #888;
	width: 100%;
	border-radius: 5px;
	z-index: 1;
	/* cursor: pointer; */
}

.aui-scrollbar .bar:hover {
	background: #555
}

.scrollview {
	line-height: 1.6
}

html.mobile .aui-scrollview {
	overflow-y: auto;
}

html.mobile .aui-scrollbar {
	display: none;
}

html.mobile .aui-scrollarea {
	position: relative;
	overflow: unset;
}

html.mobile .aui-content {
	overflow: unset;
	padding: 0;
}



.floatBar {
	position: absolute;
	bottom: 0;
	height: 2px;
	background-color: #228af1;
	transition: all ease .5s;
	pointer-events: none;
}


/* //mark: step */
.steparea {
	position: relative;
	margin: 0 0 22px;
	padding: 0 120px 0 0;
}

.steparea:before {
	display: inline-block;
	content: '스텝';
	position: absolute;
	top: 0;
	left: 10px;
	width: 1px;
	height: 1px;
	font-size: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.steparea [class^=step_] {
	display: inline-block;
	position: absolute;
	top: 50%;
	right: 10px;
	height: 18px;
	margin-top: -9px;
	background-image: url(../img/bg_step.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 102px 126px;
	overflow: hidden;
}

.steparea [class^=step_]:before {
	display: inline-block;
	content: '';
	position: absolute;
	top: 0;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #fc756b;
	color: #fff;
	font-size: 0.75rem;
	font-weight: 700;
	line-height: 18px;
	text-align: center;
	overflow: hidden;
}

.steparea--v2 {
	position: relative;
	max-width: 980px;
	height: 50px;
	margin: 0 auto;
}

.steparea--v2:before {
	display: inline-block;
	content: '스텝';
	position: absolute;
	top: 0;
	left: 10px;
	width: 1px;
	height: 1px;
	font-size: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.steparea--v2 .step-wrap {
	position:relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.steparea--v2 .step-wrap:after{
	position:absolute;
	display:block;
	content:'';
	width: 100%;
	height:3px;
	left: 50%;
	transform: translateX(-50%);
	top: 5px;
	background-color: #858585;
}

.steparea--v2 .step-wrap>span {
	position:relative;
	display: block;
	padding-top: 25px;
}
.steparea--v2 .step-wrap>span:before{
	content:'';
	display:block;
	position:absolute;
	top:0;
	left:50%;
	transform:translateX(-50%);
	width: 14px;
	height: 14px;
	background: #858585;
	border-radius: 50%;
	font-size: 0;
	z-index: 2;
}
.steparea--v2 .step-wrap>span.active .label{
	color:#228af1;
}
.steparea--v2 .step-wrap>span.active:before{
	background-color:#228af1;
}
.steparea--v2 .step-wrap>span.active:after{
	content:'';
	position:absolute;
	top: -5px;
	left:50%;
	transform:translateX(-50%);
	width: 24px;
	background: #fff;
	height: 24px;
	border:1px solid #228af1;
	z-index: 1;
	border-radius: 50%;
	box-sizing: border-box;
}
.steparea--v2 .step-wrap .label{
	position: absolute;
	display: block;
	width: 150px;
	left: 50%;
	font-size: 22px;
	font-weight: 500;
	line-height: 1.5;
	color: #858585;
	text-align: center;
	transform: translateX(-50%);
}

.steparea--v2 .step-wrap>span:first-child {
	margin-left: 0
}

.steparea--v2 .step-wrap>span:last-child {
	margin-right: 0
}


/* //mark: fileAttach */
.addfiles>ul.list {
	margin-top: 10px;
}

.addfiles>ul.list>li {
	padding: 10px 0px;
}

.addfiles>ul.list>li>.dt {
	font-size: 13px;
	padding-bottom: 12px;
	display: inline-block;
}

.aui-addFile {
	position: relative;
	display: inline-block;
	width: 100%;
	overflow: hidden;
	vertical-align: middle;
	line-height: 23px;
	padding-right: 146px;
	box-sizing: border-box;
}

.aui-addFile .file {
	width: 100%;
	position: relative;
	display: block;
}

.aui-addFile .file button.delete {
	display: none;
	position: absolute;
	width: 16px;
	height: 16px;
	top: 18px;
	right: 17px;
	background: url('../img/adm/icn_ir.png') 0 0 no-repeat;
	background-position: -353px -61px;
	font-size: 0px;
}

.aui-addFile.on .file button.delete {
	display: block;
	cursor: pointer;
}

.aui-addFile .file .loc {
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	width: 100%;
	height: 52px;
	padding: 0 35px 0 15px;
	line-height: 50px;
	color: #666;
	font-size: 16px;
	background: #fafafa;
	border: 1px solid #e8e8e8;
	box-sizing: border-box;
	outline: none;
}

.aui-addFile .btnAttach {
	position: absolute;
	right: 0px;
	top: 0px;
}

.aui-addFile .btnAttach {
	width: 80px;
	display: inline-block;
	position: absolute;
	min-width: 136px;
	height: 52px;
	padding: 0;
	font-size: 16px;
	/* font-weight: bold; */
	line-height: 0;
	box-sizing: border-box;
	color: #fff;
	background-color: #385dae;
	border-radius: 2px;
	text-align: center;
	vertical-align: middle;
	letter-spacing: 0;
}

.aui-addFile .btnAttach .fileButton {
	width: 100%;
	font-size: 18px;
	line-height: 51px;
}

.aui-addFile .btnAttach .bt {}

.aui-addFile .btnAttach .fileInput {
	font-size: 100px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 100%;
	height: 52px;
	top: 0px;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
	padding: 0px !important;
	border: none;
}

